<div class="model">
	<div class="modal-header">
		<button type="button" class="close" on-click="close">×</button>
		<h4>PSS链接管理</h4>
	</div>
	<div class="modal-body">
		<form>
		<table class="table">
			<tbody>
			<tr>
				<td>
				    <label><strong>当前PSS链接:</strong></label> 
				    <a href="#">111.xls</a>
			     </td>
			</tr>
			<tr>
				<td>
				    <input type="text" placeholder="请选择文件···" readonly="readonly"/>
					<a href="javascript:;" class="fileBtn">选择文件<input type="file" name="layout" value="" id="layout_upload" class="btnBrowser"/></a>
					<input type="button" name="btnUploadLayout" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="uploadLayoutPage"/>
			     </td>
			</tr>
			<tr>
				<td>
				   <label><strong>Password: </strong></label>
				   <input type="password" id="doLogin_passwd" class="form-control"> 
				</td>
			</tr>
			</tbody>
		</table>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" on-click="close">Close</button>
		<button type="button" class="btn" on-click="login">Login</button>
	</div>
</div>