<div class="model">
	<div class="modal-header">
		<button type="button" class="close" on-click="close">×</button>
		<h4>PSS链接管理</h4>
	</div>
	<div class="modal-body">
		<table class="table">
			<tbody>
			<tr>
				<td>
				    <label><strong>当前PSS链接:</strong></label> 
				    <label>{{currPss}}</label>
			     </td>
			</tr>
			<tr>
				<td>
					<div id="uploader">
				    <div id="thelist" class="uploader-list"></div>
				    <div>
				        <div id="picker" class="webuploader-container">
					        <div class="webuploader-pick">选择文件</div>
						        <div>
							        <input name="file" class="webuploader-element-invisible" multiple="multiple" type="file">
						        </div>
					        </div>
				        	<button id="ctlBtn" class="btn-ext btn-default">开始上传</button>
				    </div>
				</div>
			     </td>
			</tr>
			</tbody>
		</table>
	</div>
</div>