
<div class="model">
	<div class="modal-header">
		<button type="button" class="close" on-click="close">×</button>
		<h4>{{i18n_hourlycount_loss_input}} - {{lossInfoObj.lossNameV}}</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="ng-pristine ng-valid">
		<div class="form-group">
		<table id="remarkTable" class="table">
			<tbody><tr>
				<td>
				    <label><strong>数量:</strong></label> 
				    <input type="text" id="remark_count" class="form-control" value="{{lossInfoObj.lossCountV}}" on-keyup="toValidateEditorOnlyNum"/>
			     </td>
			</tr>
			<tr>
				<td>
				   <label><strong>原因: </strong></label>
				   <input type="text" id="remark_reason" class="form-control" value="{{lossInfoObj.lossReasonV}}"/> 
				</td>
			</tr>
		</tbody></table>
		</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" on-click="close">{{i18n_close}}</button>
		<button type="button" class="btn" on-click="save">{{i18n_save}}</button>
	</div>
</div>
