<div class="chart1">
   <div class="icon"><img style="padding-top:50px;" src="{{root}}/images/updown.png"/></div>
   <div class="chart"></div>
   <table>
		
		<tr>
			<td><hr class="line2" style="background-color:red "/><label>OEE-target</label></td>
			{{#each actualTotal:index}}
				<td>
					<lable>{{targetTotal[index]}}</lable>
				</td>
			{{/each}}	
			
		</tr>
		<tr>
			<td width="30%"><hr class="line1" style="background-color:#3C3C4D "/><label>OEE-actual</label></td>
			
			{{#each actualTotal:index}}
				<td>
					<lable>{{actualTotal[index]}}</lable>
				</td>
			{{/each}}	
		</tr>
	</table>
</div>