<div class="chart1">
   <div class="icon"><img style="padding-top:50px;" src="{{root}}/images/updown.png"/></div>
   <div class="chart"></div>
   <table>
		<tr>
			<td><hr class="line1" style="background-color:#3C3C4D "/><label>OEE-actual</label></td>
			<td>90</td>
			<td>80</td>
			<td>88</td>
			<td>89</td>
			<td>82</td>
		</tr>
		<tr>
			<td><hr class="line2" style="background-color:red "/><label>OEE-target</label></td>
			<td width="15%">80</td>
			<td width="14%">80</td>
			<td width="14%">80</td>
			<td width="15%">80</td>
			<td width="14%">80</td>
		</tr>
	</table>
</div>