<div class="chart2">
   <div class="icon"><img style="padding-top:30px;" src="{{root}}/images/updown.png"/></div>
   <div class="chart"></div>
   <table>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#FF8000; margin: 0 5px;">&nbsp;</span>Performance/Undefined losses</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#D6A40E; margin: 0 5px;">&nbsp;</span>Quality losses</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#037C5E; margin: 0 5px;">&nbsp;</span>Organizational losses</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#1D0E5C; margin: 0 5px;">&nbsp;</span>Technical losses</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#98A398; margin: 0 5px;">&nbsp;</span>Changeover losses</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:#41FB4A; margin: 0 5px;">&nbsp;</span>OEE-actual</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style="text-align:left"><span style="padding-left:35px; height:15px; background-color:red; margin: 0 5px;">&nbsp;</span>OEE-target</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>