<div class="chart3">
   <div class="icon"><img style="padding-top:80px;" src="{{root}}/images/updown3.png"/></div>
   <div class="chart"></div>
   <table>
		<tr>
			<td width="14%">OEE-target</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			<td width="2%">75%</td>
			
		</tr>
		<tr>
			<td>OEE-actual</td>
			<td>86.2</td>
			<td>68.2</td>
			<td>83.3</td>
			<td>81.4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>