<div class="chart2">
   <div class="icon"><img style="padding-top:30px;" src="{{root}}/images/updown.png"/></div>
   <div class="chart"></div>
   <table>
		<tr>
			<td>Performance/Undefined losses</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%">5%</td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			<td width="7%"></td>
			
		</tr>
		<tr>
			<td>Quality losses</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Organizational losses</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td>6%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Technical losses</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td>1%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Changeover losses</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td>3%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>OEE-actual</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td>70%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>OEE-target</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td>80%</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>