<div class="chart6">
	<h4>{{i18n_oeeLoss_year_oee_loss_profile}}</h4>
	<div class="dt">
		<div class="chart">
			<table>
				<tr>
					<td width="7%">{{i18n_oeeLoss_type}}</td>
					<td width="12%">{{i18n_oeeLoss_desc}}</td>
					<td width="7%">Jan</td>
					<td width="7%">Feb</td>
					<td width="7%">Mar</td>
					<td width="7%">Apr</td>
					<td width="7%">May</td>
					<td width="7%">Jun</td>
					<td width="7%">Jul</td>
					<td width="7%">Aug</td>
					<td width="7%">Sep</td>
					<td width="7%">Oct</td>
					<td width="7%">Nov</td>
					<td width="7%">Dec</td>
				</tr>
				{{#each ttloss}}
				<tr>
					<td bgcolor="{{color}}">{{type}}</td>
					<td>{{desc}}</td> {{#each months:num}}
					<td>{{.}}</td> {{/each}}
				</tr>
				{{/each}}
			</table>
		</div>
		<div class="icon">
			<div style="float:left;width:15%">&nbsp;</div>
			<table style="float:left;width:70%;border: 0px;">
				<tr>
					<td width="40%" style="background-color:#CCFFFF">C</td>
					<td width="60%" style="border:0px;text-align: left;padding-left: 5px;">{{i18n_oeeLoss_pattern_change_loss}}</td>
				</tr>
				<tr>
					<td style="background-color:#993300">O</td>
					<td style="border:0px;text-align: left;padding-left: 5px;">{{i18n_oeeLoss_org_loss}}</td>
				</tr>
				<tr>
					<td style="background-color:#3366FF">T</td>
					<td style="border:0px;text-align: left;padding-left: 5px;">{{i18n_oeeLoss_tech_loss}}</td>
				</tr>
				<tr>
					<td style="background-color:#C0C0C0">P</td>
					<td style="border:0px;text-align: left;padding-left: 5px;">{{i18n_oeeLoss_kpi_loss}}</td>
				</tr>
				<tr>
					<td style="background-color:#FAFA00">Q</td>
					<td style="border:0px;text-align: left;padding-left: 5px;">{{i18n_oeeLoss_quality_loss}}</td>
				</tr>
			</table>
			<div style="float:left;width:15%"></div>
		</div>
		<!-- <img style="padding-top:25px;" src="{{root}}/images/ttloss.png"/> -->
		<!-- <img style="padding-top: 25px;" src="{{root}}/images/ttloss.png" /> -->
	</div>
</div>