<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board- Meeting Attendance</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/jquery-ui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/hourlycount.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/hourlypop.css"/>
		
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>		
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/hourlycount.js"></script>
	<script src="../../js/lib/jquery-ui.min.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_hourlycount_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_hourlycount_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_hourlycount_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../board1.html">{{i18n_hourlycount_nav3}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_hourlycount_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			 <div class="" style="float:left">
				<span id="msgBox"></span>
            </div>
            <div class="toolbar">
				<button type="button" class="btn" on-click="saveHourlyCount">保存</button>
            </div>
			<div class="header">
				<div class="title"><span>{{i18n_hourlycount_title}}</span></div>
				<div class="info">
					 <div class="lb">
					   <span>{{i18n_hourlycount_line}}</span>		   
					 </div>
					 <div class="val">
						 <span class="fst">{{lineName}}</span> 
					 </div>
					 <div class="lb">
						<span>{{i18n_hourlycount_date}}</span>
					</div>
					<div class="val">
						<span id="dateSelect">
                             <input type="text" id="lblDateShow"  value="{{dateToday}}" readonly/>
                             
                         </span>
					</div>
				</div>
			</div>
			<table id="hourlycountlist">
				<tr>
					<td colspan="1" >
                         {{i18n_hourlycount_time}}
                    </td>
					<td colspan="4">
                         {{i18n_hourlycount_product}}
                    </td>
					<td colspan="2" >
                        {{i18n_hourlycount_oeeplan}}
                    </td>
					<td colspan="2" >
                        {{i18n_hourlycount_oeeactual}}
                    </td>
					<td colspan="7">
                        {{i18n_hourlycount_hourly}}
                    </td>
					<td colspan="3" >
                        {{i18n_hourlycount_quality_loss}}
                    </td>
					<td colspan="3" >
                        {{i18n_hourlycount_tech_loss}}
                    </td>
					<td colspan="4" >
                        {{i18n_hourlycount_chgover_loss}}
                    </td>
					<td colspan="9" >
                        {{i18n_hourlycount_org_loss}}
                    </td>
					<td colspan="7" >
                        {{i18n_hourlycount_remark}}
                    </td>
					<td colspan="1" width="4%">
                        {{i18n_hourlycount_downtime_code}}
                    </td>
				</tr>
				<tr>
					<td colspan="1" >
                        &nbsp;
                    </td>
					<td colspan="4">
                         &nbsp;
                    </td>
					<td colspan="2" >
                        &nbsp;
                    </td>
					<td colspan="2" >
                       &nbsp;
                    </td>
					<td colspan="7">
                       &nbsp;
                    </td>
					<td colspan="3" >
                        &nbsp;
                    </td>
					<td colspan="3" >
                        &nbsp;
                    </td>
					<td colspan="4" >
                       &nbsp;
                    </td>
					<td colspan="9" >
                        &nbsp;
                    </td>
					<td colspan="7" rowspan="3" style="text_align:center">
                        <p>{{i18n_hourlycount_remark_desc_1}}</p>
						<p>{{i18n_hourlycount_remark_desc_2}}</p>
						<p>{{i18n_hourlycount_remark_desc_3}}</p>
						<p>{{i18n_hourlycount_remark_desc_4}}</p>
                    </td>
					<td rowspan="3" >
                        &nbsp;
                    </td>
				</tr>

				<tr>
					<td rowspan="2" width="4%">
                         {{i18n_hourlycount_from_to}}
                    </td>
					<td rowspan="2" width="4%">
                         {{i18n_hourlycount_type1}}
                    </td>
					<td rowspan="2" width="4%">
                        {{i18n_hourlycount_cycle_time1}}
                    </td>
					<td rowspan="2" width="4%">
                        {{i18n_hourlycount_type2}}
                    </td>
					<td rowspan="2" width="4%">
                        {{i18n_hourlycount_cycle_time2}}
                    </td>
					<td rowspan="2" width="2%">
                        {{i18n_hourlycount_output}}
                    </td>
					<td rowspan="2" width="2%">
                        {{i18n_hourlycount_total_output}}
                    </td>
					<td rowspan="2" width="2%">
                        {{i18n_hourlycount_output}}
                    </td>
					<td rowspan="2" width="2%">
                        {{i18n_hourlycount_total_output}}
                    </td>
					<td rowspan="2" width="2%">
                        30
                    </td>
					<td rowspan="2" width="2%">
                        60
                    </td>
					<td rowspan="2" width="2%">
                        90
                    </td>
					<td rowspan="2" width="2%">
                        120
                    </td>
					<td rowspan="2" width="2%">
                        150
                    </td>
					<td rowspan="2" width="2%">
                        180
                    </td>
					<td rowspan="2"width="2%" >
                        240
                    </td>
					<td rowspan="1" width="2%">
                        {{i18n_hourlycount_scrap}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_rework}}
                    </td>
					<td rowspan="2" width="2%" class="graycolor">
                        {{i18n_hourlycount_losses}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_breakdown}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_minor_adjust}}
                    </td>
					<td rowspan="2" width="2%" class="graycolor">
                        {{i18n_hourlycount_losses}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_plan_setup}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_unplan_setup}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_exchg_tools}}
                    </td>
					<td rowspan="2" width="2%" class="graycolor">
                        {{i18n_hourlycount_losses}}
                    </td>

					<td colspan="1" width="2%" >
                        {{i18n_hourlycount_lack_person}}
                    </td>
					<td colspan="1"width="2%" >
                        {{i18n_hourlycount_lack_material}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_release_3parts}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_exchg_material}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_unplan_tpm}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_unplan_sample_process}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_new_operator}}
                    </td>
					<td colspan="1" width="2%">
                        {{i18n_hourlycount_others}}
                    </td>
					<td rowspan="2" width="2%" class="graycolor">
                        {{i18n_hourlycount_losses}}
                    </td>

				</tr>
				<tr>
				   	<td>Q1</td>
					<td>Q2</td>
					<td>T1</td>
					<td>T2</td>
					<td>C1</td>
					<td>C2</td>
					<td>C3</td>
					<td>O1</td>
					<td>O2</td>
					<td>O3</td>
					<td>O4</td>
					<td>O5</td>
					<td>O6</td>
					<td>O7</td>
					<td>O8</td>
				</tr>
			{{#each hourlyCountV1:index}}
                <tr class="attendeeTr">
					<td on-click="toShowColumnEditor">
						<label>{{hourlyCountV1[index].hourid}}</label>
					</td>
					<td on-click="toShowColumnEditor" >
						<label>{{hourlyCountV1[index].productTypeName1}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditor" type="text" value="{{hourlyCountV1[index].productTypeName1}}" />
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{format(hourlyCountV1[index].productCycle1)}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditor" type="text" value="{{hourlyCountV1[index].productCycle1}}" on-keyup="toValidateEditorOnlyNum"/>
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{hourlyCountV1[index].productTypeName2}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditor" type="text" value="{{hourlyCountV1[index].productTypeName2}}" />
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{format(hourlyCountV1[index].productCycle2)}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditor" type="text" value="{{hourlyCountV1[index].productCycle2}}" on-keyup="toValidateEditorOnlyNum"/>
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{format(hourlyCountV1[index].planCount)}}</label>
						<input class="field plan" style="display:none;" on-blur="toHideColumnEditorWithCalculationForPlan" type="text" value="{{hourlyCountV1[index].planCount}}" on-keyup="toValidateEditorOnlyNum"/>
					</td>
					<td>
						
					{{#if hourlyCountV1[index].planCount > 0}}
						<label>{{format(hourlyCountV1[index].planTotalCount)}}</label>
					{{else}}
						<label></label>
					{{/if}}	
						
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{format(hourlyCountV1[index].actualCount)}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditorWithCalculationForActual" type="text" value="{{hourlyCountV1[index].actualCount}}" on-keyup="toValidateEditorOnlyNum"/>
					</td>
					<td>
					{{#if hourlyCountV1[index].actualCount > 0}}
						<label>{{format(hourlyCountV1[index].actualTotalCount)}}</label>
					{{else}}
						<label></label>
					{{/if}}	
					</td>
					<td colspan="7" style="text-align:left">
					{{#if hourlyCountV1[index].productHourCount > 0}}
						{{#if hourlyCountV1[index].productHourPercent < 0.5}}
							<input type="button" style=" height:35px; background-color:red" value="{{hourlyCountV1[index].productHourCount}}"/>
						{{elseif hourlyCountV1[index].productHourPercent < 0.7 && hourlyCountV1[index].productHourPercent > 0.5}}
							<input type="button" style=" height:35px; background-color:yellow" value="{{hourlyCountV1[index].productHourCount}}"/>
						{{else}}
							<input type="button" style=" height:35px; background-color:green" value="{{hourlyCountV1[index].productHourCount}}"/>
						{{/if}}
					{{else}}
						<input type="button" style="display:none; height:35px" value="{{hourlyCountV1[index].productHourCount}}"/>
					{{/if}}
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].scrapCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].reworkCount)}}</label>
						
					</td>
					<td class="graycolor" >
						<label>{{format(hourlyCountV1[index].qualityLoss)}}</label>
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].breakdownCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].adjustmentCount)}}</label>
						
					</td>
					<td class="graycolor">
						<label>{{format(hourlyCountV1[index].technicalLoss)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].planSetupCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].unplanSetupCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].exchgToolCount)}}</label>
						
					</td>
					<td class="graycolor"> 
						<label>{{format(hourlyCountV1[index].changeoverLoss)}}</label>
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].lackPersonnelCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].lackMaterialCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].testReleaseThreePartsCount)}}</label>
						
					</td>

					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].exchgMaterialCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].unplanSampleCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].newOperatorCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].unplanTpmCount)}}</label>
						
					</td>
					<td on-click="toShowRemark">
						<label>{{format(hourlyCountV1[index].othersCount)}}</label>
						
					</td>
					<td class="graycolor">
						<label>{{format(hourlyCountV1[index].orgnizationLoss)}}</label>

					</td>
					
					<td colspan="7">
						<label>{{hourlyCountV1[index].remark}}</label>
					</td>
					<td on-click="toShowColumnEditor">
						<label>{{hourlyCountV1[index].techDownCode}}</label>
						<input class="field " style="display:none;" on-blur="toHideColumnEditor" type="text" value="{{hourlyCountV1[index].techDownCode}}" />
					</td>
				</tr>
				{{#if index == 7}}
				<tr class="graycolor">
					<td colspan="1">
						<label>7-15</label>
					</td>
					<td colspan="15">
						{{i18n_hourlycount_current_plan_output}} &nbsp;&nbsp;{{hourlyCountsTotal[0].group_plan}}
					</td>
					<td colspan="27">
						{{i18n_hourlycount_current_actual_output}} &nbsp;&nbsp;{{hourlyCountsTotal[0].group_actual}}
					</td>
				</tr>
				{{elseif index == 11}}
				<tr class="graycolor">
					<td colspan="1">
						<label>7-19</label>
					</td>
					<td colspan="15">
						{{i18n_hourlycount_current_plan_output}} &nbsp;&nbsp;{{hourlyCountsTotal[1].group_plan}}
					</td>
					<td colspan="27">
						{{i18n_hourlycount_current_actual_output}} &nbsp;&nbsp;{{hourlyCountsTotal[1].group_actual}}
					</td>
				</tr>
				{{elseif index == 15}}
				<tr class="graycolor">
					<td colspan="1">
						<label>15-23</label>
					</td>
					<td colspan="15">
						{{i18n_hourlycount_current_plan_output}} &nbsp;&nbsp;{{hourlyCountsTotal[2].group_plan}}
					</td>
					<td colspan="27">
						{{i18n_hourlycount_current_actual_output}} &nbsp;&nbsp;{{hourlyCountsTotal[2].group_actual}}
					</td>
				</tr>
				{{elseif index == 23}}
				<tr class="graycolor">
					<td colspan="1">
						<label>23-07</label>
					</td>
					<td colspan="15">
						{{i18n_hourlycount_current_plan_output}} &nbsp;&nbsp;{{hourlyCountsTotal[3].group_plan}}
					</td>
					<td colspan="27">
						{{i18n_hourlycount_current_actual_output}} &nbsp;&nbsp;{{hourlyCountsTotal[3].group_actual}}
					</td>
				</tr>
				{{/if}}
			{{/each}}
				
				
				<tr>
					
					<td colspan="2">
						<label>{{i18n_hourlycount_plan_weight_average_cycle}}</label>
					</td>
					<td>
						&nbsp;
					</td>
					<td colspan="13">
						<label>{{i18n_hourlycount_plan_cpl_total_output}}</label>
					</td>
					
					<td colspan="19">
						&nbsp;
					</td>
					<td colspan="3">
						<label>{{i18n_hourlycount_plan_moe_output}}</label>
					</td>
					<td colspan="3">
						<label>{{i18n_hourlycount_actual_output}}</label>
					</td>
					<td colspan="2">
						<label>{{i18n_hourlycount_actual_oee}}</label>
					</td>
				</tr>
				<tr>
					
					<td colspan="9">
						<label>{{i18n_hourlycount_footer_desc}}</label>
					</td>
					
					<td colspan="7">
						<label>{{i18n_hourlycount_sign_shift_1}}</label>
						
					</td>
					
					<td colspan="3" on-click="toShowLogin">
						<label>{{hourlyCountV0.teamLeaderSign1}}</label>

					</td>
					<td colspan="4">
						<label>{{i18n_hourlycount_sign_shift_2}}</label>
					</td>
					
					<td colspan="4" on-click="toShowLogin">
						<label>{{hourlyCountV0.teamLeaderSign2}}</label>
						
					</td>
					<td colspan="4">
						<label>{{i18n_hourlycount_sign_shift_3}}</label>
					</td>
					
					<td colspan="4" on-click="toShowLogin">
						<label>{{hourlyCountV0.teamLeaderSign3}}</label>
						
					</td>
					<td colspan="3">
						<label>{{i18n_hourlycount_sign_group}}</label>
					</td>
					<td colspan="4" on-click="toShowLogin">
						<label>{{hourlyCountV0.groupLeaderSign}}</label>
						
					</td>
					<td colspan="2">
						<label>{{i18n_hourlycount_target_oee}}</label>
					</td>
				</tr>
			</table>
			<div class="footer">
				<div class="lf">
					<p  class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 07.03.2014 | V1.0 | © Robert Bosch GmbH 2014. Alle Rechte vorbehalten, auch bzgl. jeder Verfügung, Verwertung, Reproduktion,</p>
					<p>Bearbeitung, Weitergabe sowie für den Fall von Schutzrechtsanmeldungen.</p>
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>
		</div>
	</div>
	<!-- DIV -->
	<div class="hourly_popup"></div>
    </script>
</html>
