<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board- Meeting Attendance</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>	
		<link rel="stylesheet" type="text/css" href="../../js/lib/datetimepicker/jquery.datetimepicker.css"/>	
		<link rel="stylesheet" type="text/css" href="../../css/meetAttd.css"/>
		
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>		
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../../js/lib/jquery.blockui.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/datetimepicker/jquery.datetimepicker.full.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/meetAttd.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_meetAttd_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_meetAttd_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_meetAttd_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../board1.html">{{i18n_meetAttd_nav3}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_meetAttd_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
            <div class="toolbar">
               <!--<button type="button" class="btn" on-click="test">测试</button>-->
				<button type="button" class="btn" on-click="addAttendee">{{i18n_meetAttd_add}}</button>
				<button type="button" class="btn" on-click="saveAttendee">{{i18n_meetAttd_save}}</button>
				<button type="button" class="btn" on-click="deleteAttendee">{{i18n_meetAttd_delete}}</button>
            </div>
			<div class="header">
				<div class="title"><span>{{i18n_meetAttd_title}}</span></div>
				<div class="info">
					 <div class="lb">
					   <span>{{i18n_meetAttd_line}}:</span>
					   <span>{{i18n_meetAttd_month}}:</span>
					 </div>
					 <div class="val">
						 <span class="fst">
							<label class="field" on-click="toShowLineSelect">{{attendance.line_name}}</label>                    
							<select class="field" style="display:none;" on-change="changeLine" on-blur="toHideLineSelect" value="{{attendance.line_id}}">
	 						{{#each lines}}
							 <option value="{{id}}">{{lineName}}</option>
					        {{/each}}
		             		</select>
                         </span>
						 <span class="dt">
                             <label on-click="toShowYearSelect">{{attendance.year}} {{i18n_meetAttd_year}}</label>                    
							 <select style="display:none;" on-blur="toHideYearSelect" on-change="changeYear" value="{{attendance.year}}">
		 					   {{#each years:index}}
								 <option value="{{years[index]}}">{{years[index]}} {{i18n_meetAttd_year}}</option>
						       {{/each}}
			             	 </select>
                             <label on-click="toShowMonthSelect">{{attendance.month}} {{i18n_meetAttd_yue}}</label>
                             <select style="display:none" on-blur="toHideMonthSelect" on-change="changeMonth" value="{{attendance.month}}">
				               {{#each months:index}}
							    <option value="{{months[index]}}">{{months[index]}} {{i18n_meetAttd_yue}}</option>
					           {{/each}}
	             			</select>
                         </span>
					 </div>
					 <div></div>
				</div>
			</div>
			<table>
				<tr>
					<td colspan="7">
                        <span style="width:50%;">{{i18n_meetAttd_meetingtime}}:</span>  
						<label style="width:7%;" on-click="toShowMeetingTimeText">{{attendance.time_start}}</label>                      
                        <input class="meettimeStart" on-keydown="disableKeydown" style="width:7%;display:none" type="text" on-blur="toHideMeetingTimeText" value="{{attendance.time_start}}" />
                        <label>-&nbsp;</label>
                        <label style="width:7%;" on-click="toShowMeetingTimeText">{{attendance.time_end}}</label>                      
                        <input class="meettimeEnd" on-keydown="disableKeydown" style="width:7%;display:none" type="text" on-blur="toHideMeetingTimeText" value="{{attendance.time_end}}" />
                    </td>
					<td colspan="14" id="meetingSpotTd">
                        <span style="width:37%;">{{i18n_meetAttd_meetingspot}}:</span>
                        <label style="width:58%;" on-click="toShowMeetingSpotText">{{attendance.spot}}</label>
						<input style="width:58%;display:none" type="text" on-blur="toHideMeetingSpotText" value="{{attendance.spot}}" />
                    </td>
					<td colspan="15" id="meetingHostTd">
                        <span style="width:25%;">{{i18n_meetAttd_host}}:</span>
                    	<label style="width:70%;" on-click="toShowMeetingHostText">{{attendance.host}}</label>
						<input style="width:70%;display:none" type="text" on-blur="toHideMeetingHostText" value="{{attendance.host}}" />
                    </td>
				</tr>
				<tr>
				    <th width="2%"><input type="checkbox" on-click="checkAll" /><font>&nbsp;&nbsp;</font></th>
					<th width="12%">{{i18n_meetAttd_name}}</th>
					<th width="8%">{{i18n_meetAttd_required}}</th>
					<th width="8%">{{i18n_meetAttd_frequency}}</th>
					<th width="8%">{{i18n_meetAttd_dept}}</th>
				   {{#each attendance.days}}
					<th width="2%">{{d}}</th>
	               {{/each}}
				</tr>
                {{#each attendanceDetails:index}}
                <tr class="attendeeTr" lang="{{index}}">
                   <td>
                   		<input class="opt" type="checkbox" checked="{{checked}}" />
                   		{{#if id == '0' || updated == '1'}}
				        <font color="red">*</font>
				        {{else}}
				        <font>&nbsp;</font>
				        {{/if}}
                   </td>
	               <td>
	               		<label class="field" on-click="toShowColumnEditor">{{meeting_attendee}}</label>
	               		<input class="field" type="text" maxlength="20" on-blur="toHideColumnEditor" style="display:none" value="{{meeting_attendee}}" />
	               </td>
	               <td>
	                    <label class="field" on-click="toShowColumnEditor">{{required}}</label>
	                    <select class="field" style="display:none" value="{{required}}" on-blur="toHideColumnEditor">
			               <option value="R">R</option>
         				   <option value="O">O</option>
             			</select>
	               </td>
				   <td>
	               		<label class="field" on-click="toShowColumnEditor">{{frequency}}</label>
	               		<input class="field" type="text" maxlength="5" onkeyup="manager.keyupInt(event)" on-blur="toHideColumnEditor" style="display:none" value="{{frequency}}" />
	               </td>
	               <td>
	               		<label class="field" on-click="toShowColumnEditor">{{dept}}</label>
	               		<input class="field" type="text" maxlength="20" on-blur="toHideColumnEditor" style="display:none" value="{{dept}}" />
	               </td>
	               {{#each days:flag}}
				   {{#if s =='0'}}	
					<td>			   
					 	<label class="field" style="background: {{bg}}"  on-click="toShowColumnEditor">{{v}}</label>
						<select class="field" flag="{{flag}}" colName="day" style="display:none" value="{{v}}" on-blur="toHideColumnEditor">
						   <option value=""></option>
			               <option value="X">X</option>
         				   <option value="E">E</option>
         				   <option value="A">A</option>
         				   <option value="D">D</option>
         				   <option value="\">\</option>
         				   <option value="L">L</option>
             			</select>
                    </td>
                   {{else}}
					<td style="background: #bec2c3;"><label class="field"></label></td>
				   {{/if}}
	               {{/each}}
                </tr>
                {{/each}}				
				<tr>
					<td class="des" colspan="36" style="text-align: left;color: #000;font-weight: bold;font-size: 16px;">
						<span style="margin-left: 0px;">[X] {{i18n_meetAttd_attend}}</span>
						<span>[E] {{i18n_meetAttd_excused}}</span>
						<span>[A] {{i18n_meetAttd_absent}}</span>
						<span>[D] {{i18n_meetAttd_deputy}}</span>
						<span>[\] {{i18n_meetAttd_noInvite}}</span>
						<span>[L] {{i18n_meetAttd_late}}</span>
					</td>
				</tr>
				<tr>
					<td colspan="36" style="text-align: left;color: #000;">
						<p>{{i18n_meetAttd_agenda}}：1.{{i18n_meetAttd_agenda1}};</p>
			
						<p style="padding-left: 68px">2.{{i18n_meetAttd_agenda2}};</p>
			
						<p style="padding-left: 68px">3.{{i18n_meetAttd_agenda3}};</p>
			
						<p style="padding-left: 68px">4.{{i18n_meetAttd_agenda4}};</p>
					</td>
				</tr>
			</table>
			<div class="footer">
				<div class="lf">
					<p  class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
					<!--<p>Bearbeitung, Weitergabe sowie für den Fall von Schutzrechtsanmeldungen.</p>-->
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>
		</div>
	</div>
    </script>
</html>
