<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board- Meeting Attendance</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/datetimepicker/jquery.datetimepicker.css"/>	
		<link rel="stylesheet" type="text/css" href="../../css/meetAttd.css"/>
		
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>		
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/datetimepicker/jquery.datetimepicker.full.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/meetAttd.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_meetAttd_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_meetAttd_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_meetAttd_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../board1.html">{{i18n_meetAttd_nav3}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_meetAttd_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
            <div class="toolbar">
                <!--<button type="button" class="btn" on-click="test">测试</button>-->
				<button type="button" class="btn" on-click="addAttendee">{{i18n_meetAttd_add}}</button>
				<button type="button" class="btn" on-click="saveAttendee">{{i18n_meetAttd_save}}</button>
				<button type="button" class="btn" on-click="deleteAttendee">{{i18n_meetAttd_delete}}</button>
            </div>
			<div class="header">
				<div class="title"><span>{{i18n_meetAttd_title}}</span></div>
				<div class="info">
					 <div class="lb">
					   <span>{{i18n_meetAttd_line}}:</span>
					   <span>{{i18n_meetAttd_month}}:</span>
					 </div>
					 <div class="val">
						 <span class="fst">FAG2</span>
						 <span class="dt">
                             <label on-click="toShowYearSelect">{{currYear}}</label>                    
							 <select style="display:none;" on-blur="toHideYearSelect" value="{{currYear}}">
		 					   {{#each years:index}}
								 <option value="{{years[index]}}">{{years[index]}}</option>
						       {{/each}}
			             	 </select>
                             <label on-click="toShowMonthSelect">{{currMonth}} 月</label>
                             <select style="display:none" on-blur="toHideMonthSelect" value="{{currMonth}}">
				               {{#each months:index}}
							    <option value="{{months[index]}}">{{months[index]}} 月</option>
					           {{/each}}
	             			</select>
                         </span>
					 </div>
					 <div></div>
				</div>
			</div>
			<table>
				<tr>
					<td colspan="6">
                        <span>{{i18n_meetAttd_meetingtime}}:</span>  
						<label on-click="toShowMeetingTimeText">10:00</label>                      
                        <input class="meettimeStart" style="width:50px;height:30px;display:none" type="text" on-blur="toHideMeetingTimeText" value="10:00" />
                        -
                        <label on-click="toShowMeetingTimeText">10:15</label>                      
                        <input class="meettimeEnd" style="width:50px;height:30px;display:none" type="text" on-blur="toHideMeetingTimeText" value="10:15" />
                    </td>
					<td colspan="14" id="meetingSpotTd">
                        <span>{{i18n_meetAttd_meetingspot}}:</span>
                        <label on-click="toShowMeetingSpotText">{{i18n_meetAttd_teamboard}}</label>
						<input style="width:50%;height:30px;display:none" type="text" on-blur="toHideMeetingSpotText" value="{{i18n_meetAttd_teamboard}}" />
                    </td>
					<td colspan="15" id="meetingHostTd">
                        <span>Host/主持人:</span>
                    	<label on-click="toShowMeetingHostText">Team Leader/班长</label>
						<input style="width:50%;height:30px;display:none" type="text" on-blur="toHideMeetingHostText" value="Team Leader/班长" />
                    </td>
				</tr>
				<tr>
				    <th width="2%"><input type="checkbox" /><font>&nbsp;&nbsp;</font></th>
					<th width="12%">Name姓名</th>
					<th width="12%">Required/optional<br>必需(R)或可选(O)</th>
					<th width="12%">Dept.部门</th>
					<th width="2%">1</th>
					<th width="2%">2</th>
					<th width="2%">3</th>
					<th width="2%">4</th>
					<th width="2%">5</th>
					<th width="2%">6</th>
					<th width="2%">7</th>
					<th width="2%">8</th>
					<th width="2%">9</th>
					<th width="2%">10</th>
					<th width="2%">11</th>
					<th width="2%">12</th>
					<th width="2%">13</th>
					<th width="2%">14</th>
					<th width="2%">15</th>
					<th width="2%">16</th>
					<th width="2%">17</th>
					<th width="2%">18</th>
					<th width="2%">19</th>
					<th width="2%">20</th>
					<th width="2%">21</th>
					<th width="2%">22</th>
					<th width="2%">23</th>
					<th width="2%">24</th>
					<th width="2%">25</th>
					<th width="2%">26</th>
					<th width="2%">27</th>
					<th width="2%">28</th>
					<th width="2%">29</th>
					<th width="2%">30</th>
					<th width="2%">31</th>
				</tr>
                {{#each attendees:index}}
                <tr class="attendeeTr" lang="{{index}}">
                   <td>
                   		<input class="opt" type="checkbox" checked="{{checked}}" />
                   		{{#if id == '0'}}
				        <font color="red">*</font>
				        {{else}}
				        <font>&nbsp;</font>
				        {{/if}}
                   </td>
	               <td>
	               		<label class="field" on-click="toShowColumnEditor">{{name}}</label>
	               		<input class="field" type="text" maxlength="20" on-blur="toHideColumnEditor" style="display:none" value="{{name}}" />
	               </td>
	               <td>
	                    <label class="field" on-click="toShowColumnEditor">{{type}}</label>
	                    <select class="field" style="display:none" value="{{type}}" on-blur="toHideColumnEditor">
			               <option value="R">R</option>
         				   <option value="O">O</option>
             			</select>
	               </td>
	               <td>
	               		<label class="field" on-click="toShowColumnEditor">{{dept}}</label>
	               		<input class="field" type="text" maxlength="20" on-blur="toHideColumnEditor" style="display:none" value="{{dept}}" />
	               </td>
	               {{#each days}}
				   {{#if s =='0'}}	
					<td>			   
					 	<label class="field" on-click="toShowColumnEditor">{{v}}</label>
						<select class="field" style="display:none" value="{{v}}" on-blur="toHideColumnEditor">
			               <option value="X">X</option>
         				   <option value="E">E</option>
         				   <option value="A">A</option>
         				   <option value="D">D</option>
         				   <option value="\">\</option>
         				   <option value="L">L</option>
             			</select>
                    </td>
                   {{else}}
					<td style="background: #bec2c3;"><label class="field"></label></td>
				   {{/if}}
	               {{/each}}
                </tr>
                {{/each}}				
				<tr>
					<td class="des" colspan="35" style="text-align: left;color: #000;font-weight: bold;font-size: 16px;">
						<span style="margin-left: 0px;">[X] 出席Attend</span>
						<span>[E] 请假Excused</span>
						<span>[A] 未到Absent</span>
						<span>[D] 代理Deputy</span>
						<span>[\] 未邀No Invite</span>
						<span>[L] 迟到Late</span>
					</td>
				</tr>
				<tr>
					<td colspan="35" style="text-align: left;color: #000;">
						<p>议程/Agenda：1.会议开始前记录到会人员 --1分钟,Record attending person(1 min);</p>
			
						<p style="padding-left: 114px">2.主要监控指标回顾 --3分钟,KPI review(3 min);</p>
			
						<p style="padding-left: 114px">3.回顾前一天的问题 --6分钟,Reviw yesterdays's OPL(6 min);</p>
			
						<p style="padding-left: 114px">4.历史开放问题回顾 --5分钟,Old open point review(5 min);</p>
					</td>
				</tr>
			</table>
			<div class="footer">
				<div class="lf">
					<p  class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
					<!--<p>Bearbeitung, Weitergabe sowie für den Fall von Schutzrechtsanmeldungen.</p>-->
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>
		</div>
	</div>
    </script>
</html>
