<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board - OEE Loss Pareto</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLoss.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart1.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart2.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart3.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart4.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart5.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossChart6.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/highcharts.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/oeeLoss.js"></script>
	<script src="../../js/oeeLossChart1.js"></script>
	<script src="../../js/oeeLossChart2.js"></script>
	<script src="../../js/oeeLossChart3.js"></script>
	<script src="../../js/oeeLossChart4.js"></script>
	<script src="../../js/oeeLossChart5.js"></script>
	<script src="../../js/oeeLossChart6.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_oeeLoss_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_oeeLoss_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_oeeLoss_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../board1.html?lineName={{lineName}}&lineId={{lineId}}">{{lineName}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_oeeLoss_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<div class="header">
				<div class="title"><span>{{i18n_oeeLoss_title}}</span></div>
				<div class="info">
					 <div class="lb">
					   <span>Line生产线:</span>
					   <span>Month月份:</span>
					 </div>
					 <div class="val">
						 <span class="fst">{{lineName}}</span>
						 <span class="dt">
                             <label on-click="toShowYearSelect">{{oeeObj.currYear}} 年</label>                    
							 <select style="display:none;" on-blur="toHideYearSelect" on-change="changeYear" value="{{oeeObj.currYear}}">
		 					   {{#each years:index}}
								 <option value="{{years[index]}}">{{years[index]}} 年</option>
						       {{/each}}
			             	 </select>
                             <label on-click="toShowMonthSelect">{{oeeObj.currMonth}} 月</label>
                             <select style="display:none" on-blur="toHideMonthSelect" on-change="changeMonth" value="{{oeeObj.currMonth}}">
				               {{#each months:index}}
							    <option value="{{months[index]}}">{{months[index]}} 月</option>
					           {{/each}}
	             			</select>
                         </span>
					 </div>
					 <div></div>
				</div>
			</div>	
			<div class="cxt">
			   <div class="top">
			      <div class="lft">
			         <div class="tloss"></div>
			         <div class="oloss"></div>
			      </div>
			      <div class="rgt">
			         <div class="closs"></div>
			         <div class="qloss"></div>
			         <div class="ploss"></div>
			      </div>
			   </div>
			   <div class="bt">
               </div>
			</div>	
			<div class="footer">
				<div class="lf">
					<p  class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
					<!--<p>Bearbeitung, Weitergabe sowie für den Fall von Schutzrechtsanmeldungen.</p>-->
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>
		</div>
	</div>
    </script>
</html>
