<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board - OEE</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/staticpage.css"/>
		
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/jquery.media.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/staticpage.js"></script>
	
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		{{#if pageName == 'balance'}}
			<h3>{{i18n_staticpage_title_balance}}</h3>
		{{elseif pageName == 'pss'}}
			<h3>{{i18n_staticpage_title_pss}}</h3>
		{{elseif pageName == 'layout'}}
			<h3>{{i18n_staticpage_title_layout}}</h3>
		{{elseif pageName == 'oeepdca'}}
			<h3>{{i18n_staticpage_title_oeepdca}}</h3>
		{{elseif pageName == '5s'}}
			<h3>{{i18n_staticpage_title_5s}}</h3>
		{{elseif pageName == 'trainmatrix'}}
			<h3>{{i18n_staticpage_title_trainmatrix}}</h3>
		{{/if}}
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_staticpage_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_staticpage_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../boards.html?lineName={{lineName}}&lineId={{lineId}}">{{i18n_staticpage_nav3}}</a>
				<font color="#ccc">></font>
				{{#if pageName == 'balance'}}
					<span>{{i18n_staticpage_title_balance}}</span>
				{{elseif pageName == 'pss'}}
					<span>{{i18n_staticpage_title_pss}}</span>
				{{elseif pageName == 'layout'}}
					<span>{{i18n_staticpage_title_layout}}</span>
				{{elseif pageName == 'oeepdca'}}
					<span>{{i18n_staticpage_title_oeepdca}}</span>
				{{elseif pageName == '5s'}}
					<span>{{i18n_staticpage_title_5s}}</span>
				{{elseif pageName == 'trainmatrix'}}
					<span>{{i18n_staticpage_title_trainmatrix}}</span>
				{{/if}}
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<span id="msginfo"></span>
			<div class="toolbar">
				
				{{#if pageName == 'balance'}}
					<span>{{i18n_staticpage_switch_to}} </span>
					<a href="{{root}}/views/board/staticpage.html?pageName=layout&oplLinkName=''" class="link">{{i18n_staticpage_title_layout}}</a>
				{{elseif pageName == 'layout'}}
					<span>{{i18n_staticpage_switch_to}} </span>
					<a href="{{root}}/views/board/staticpage.html?pageName=balance&oplLinkName=''" class="link">{{i18n_staticpage_title_balance}}</a>
				{{/if}}
            </div>
			<a id="uploadURL" href="{{root}}/views/settings/uploader.html" style="display : none;" class="link">Go to Upload Page</a>
			<iframe id="pdfviewer" style="display : none;border : 0"/>	
			
		</div>
	</div>
    </script>
</html>
