<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Board - OEE</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oee.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeChart1.css"/>
		
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.media.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/staticpage.js"></script>
	
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_settings_title_layout}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_staticpage_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_staticpage_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../boards.html">{{i18n_staticpage_nav3}}</a>
				
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<iframe id="pdfviewer" style="display : none"/>	
			
		</div>
	</div>
    </script>
</html>
