
	<div class="content">
		<div class="content-box pdca-box _clear">
			<div class="pdca-lr">
				<div class="pdca-item problem">
					<h3><i>5</i><span>Problem solving</span></h3>
					<a href="board/opl.html?lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/problem.jpg" alt="Problem solving" /></a>
				</div>
				<div class="pdca-item oeep">
					<a href="board/oeeLoss.html?lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/oeep.jpg" alt="OEE Pareto analysis" /></a>
					<h3><i>4</i><span>OEE Pareto analysis</span></h3>
				</div>
			</div>
			<div class="pdca-c">
				<div class="pdca-item pdca">
					{{#if oeepdca_alarm == 1}}
						<h3><i>6</i><span style="background:red">PDCA chart ({{i18n_boards_upload_expired}})</span></h3>
					{{else}}
						<h3><i>6</i><span>PDCA chart</span></h3>
					{{/if}}
					<a href="board/staticpage.html?pageName=oeepdca&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/pdca.jpg" alt="PDCA chart" /></a>
				</div>
				<div class="pdca-item pdca2">
					PDCA
				</div>
				<div class="pdca-item oee">
					<a href="board/oee.html?lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/oee.jpg" alt="OEE" /></a>
					<h3><i>3</i><span>OEE</span></h3>
				</div>
			</div>
			<div class="pdca-lr">
				<div class="pdca-item opc">
					{{#if balance_alarm == 1 || layout_alarm == 1}}
						<h3><i>1</i><span style="background:red">OPC and line layout ({{i18n_boards_upload_expired}})</span></h3>
					{{else}}
						<h3><i>1</i><span>OPC and line layout</span></h3>
					{{/if}}
					<a href="board/staticpage.html?pageName=layout&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/opc.jpg" alt="OPC and line layout" /></a>
				</div>
				<div class="pdca-item hourly">
					<a href="board/hourlyCount.html?lineName={{lineName}}&lineId={{lineId}}"><img src="../images/board/hourly.jpg" alt="Hourly count" /></a>
					<h3><i>2</i><span>Hourly count</span></h3>
				</div>
			</div>
		</div>
	</div>	
	
