
	<div class="content">
	   
		<div class="content-box">
			<ul>
				<li>
					
					<div class="board">
						<div class="board-item">
							
							<a href="board2/safety.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-f4b183">{{i18n_safety_title}}</a>
							<a href="board2/complain.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-f4b183">{{i18n_complain_title}}</a>
							<a href="board2/scrap.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-ffc000">{{i18n_hourlycount_scrap}}</a>
						</div>
						<div class="board-item">
							
							<a href="#" class="bg-f4b183 ">14 Q OPL</a>
							<a href="#" class="bg-f4b183" on-click="linkToChkList">14Q检查清单</a>
							<a href="board/staticpage.html?pageName=5m1e&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-92d050">5M1E</a>
							
						</div>
						<div class="board-item">
							<a href="board/staticpage.html?pageName=5s&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-92d050">5S评分</a>
							<a href="board/staticpage.html?pageName=trainmatrix&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="twoLine bg-92d050 small">员工技能矩阵</a>
							
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
