<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../css/boards.css"/>
		<link rel="stylesheet" type="text/css" href="../css/board1.css"/>
		<link rel="stylesheet" type="text/css" href="../css/board2.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../js/lib/jquery.cookie.js"></script>
	<script src="../js/lib/ractive-legacy.js"></script>
	<script src="../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../js/lib/manager.js"></script>
	<script src="../js/boards.js"></script>
	<script src="../js/board1.js"></script>
	<script src="../js/board2.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{lineName}} - {{i18n_boards_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="index.html">{{i18n_boards_nav1}}</a>
				<font color="#ccc">></font>
				<a href="lines.html">{{i18n_boards_nav2}}</a>
				<font color="#ccc">></font>
				<span>{{lineName}} - {{i18n_boards_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
	    
		<div class="content-box">
			<ul id="tabs">
	  			<li id="current"><a href="#" title="board1" on-click="switchToBoard1">{{i18n_boards_board1}}</a><img></li>	 
				<li id=""><a href="#" title="board2" on-click="switchToBoard2">{{i18n_boards_board2}}</a><img></li>	  
			</ul>
			<div class="maincontent" style="display: block;">
	  		
			</div>
		</div>
	</div>
	</script>
</html>
