
	<div class="content">
	   
		<div class="content-box">
			<ul>
				<li>
					
					<div class="board">
						<div class="board-item">
							
							<a href="board2/safety.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_safety_title}}</a>
							<a href="board2/complain.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_complain_title}}</a>
							<a href="board2/scrap.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_scrap_title}}</a>
						</div>
						<div class="board-item">
							
							<a href="board2/opl.html?lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb ">{{i18n_boards_OPL2_title}}</a>
							<a href="board/staticpage.html?pageName=checklist&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb" >{{i18n_boards_checklist_title}}</a>
							<a href="board/staticpage.html?pageName=5m1e&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_5m1e_title}}</a>
							
						</div>
						<div class="board-item">
							<a href="board/staticpage.html?pageName=5s&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_5s_title}}</a>
							<a href="board/staticpage.html?pageName=trainmatrix&oplLinkName=''&lineName={{lineName}}&lineId={{lineId}}" class="bg-23a2cb">{{i18n_boards_matrix_title}}</a>
							<a href="#" class="bg-23a2cb">&nbsp;</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
