<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../css/board1.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../js/lib/ractive-legacy.js"></script>
	<script src="../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../js/lib/manager.js"></script>
	<script src="../js/board1.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_board1_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="index.html">{{i18n_board1_nav1}}</a>
				<font color="#ccc">></font>
				<a href="lines.html">{{i18n_board1_nav2}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_board1_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box pdca-box _clear">
			<div class="pdca-lr">
				<div class="pdca-item problem">
					<h3><i>5</i><span>Problem solving</span></h3>
					<a href="board/opl.html"><img src="../images/board/problem.jpg" alt="Problem solving" /></a>
				</div>
				<div class="pdca-item oeep">
					<a href="board/oeeLoss.html"><img src="../images/board/oeep.jpg" alt="OEE Pareto analysis" /></a>
					<h3><i>4</i><span>OEE Pareto analysis</span></h3>
				</div>
			</div>
			<div class="pdca-c">
				<div class="pdca-item pdca">
					<h3><i>6</i><span>PDCA chart</span></h3>
					<a href="board/oeeLoss.html"><img src="../images/board/pdca.jpg" alt="PDCA chart" /></a>
				</div>
				<div class="pdca-item pdca2">
					PDCA
				</div>
				<div class="pdca-item oee">
					<a href="board/oee.html"><img src="../images/board/oee.jpg" alt="OEE" /></a>
					<h3><i>3</i><span>OEE</span></h3>
				</div>
			</div>
			<div class="pdca-lr">
				<div class="pdca-item opc">
					<h3><i>1</i><span>OPC and line layout</span></h3>
					<a href="board/staticpage.html?pageName=layout"><img src="../images/board/opc.jpg" alt="OPC and line layout" /></a>
				</div>
				<div class="pdca-item hourly">
					<a href="board/hourlyCount.html?lineName=FAG2"><img src="../images/board/hourly.jpg" alt="Hourly count" /></a>
					<h3><i>2</i><span>Hourly count</span></h3>
				</div>
			</div>
		</div>
	</div>	
	</script>
</html>
