<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>MOE2信息板</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../css/lines.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../js/lib/jquery.cookie.js"></script>
	<script src="../js/lib/ractive-legacy.js"></script>
	<script src="../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../js/lib/manager.js"></script>
	<script src="../js/lines.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_lines_title}}</h3>
		<div class="fr">
			<p>			
				<i class="icon icon-home"></i>
				<a href="index.html">{{i18n_lines_nav1}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_lines_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
	   <div class="check">
			<label for="cppl">产品排列</label><div class="check-box"><input type="radio" name="plfs" value="cppl" id="cppl" checked="checked" /><i></i></div>
		</div>
		<div class="check">
			<label for="kpipl">KPI排列</label><div class="check-box"><input type="radio" name="plfs" value="kpipl" id="kpipl" on-click="kpiplEvt" /><i></i></div>
		</div>
		<div class="content-box">
			<ul>
			{{#each lineData:idx}}				
				<li><!--class="bg-b8d9fb"-->					
					<a href="boards.html?lineName={{lineData[idx].lineName}}&lineId={{lineData[idx].id}}">{{lineData[idx].lineName}}</a>
				</li>
			{{/each}}
				
			</ul>
		</div>
	</div>	
	</script>
</html>
