<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Display Screen</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../css/scr.css"/>
		<link rel="stylesheet" type="text/css" href="../js/lib/alerts/jquery.alerts.css"/>
		<style type="text/css">
		.content-box .toolbar {
			height: 60px;
		    text-align: right;
		   
		}
		
		.content-box .btn {
		    padding: 6px 12px;
		    line-height: 1.42857143;
		    cursor: pointer;
		    border-radius: 4px;
		}
		
		.toolbar > div {
		   float:left;
		   width:95%;
		   text-align:center;
		  /*  font-weight:700; */
		   font-size:34px;
		}
		
		.circle{
			width: 100px;
            height: 100px;
            background-color:red;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
		}

		
		</style>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>		
			</div>
		</div>
	</body>
	<script src="../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../js/lib/jquery.cookie.js"></script>
	<script src="../js/lib/ractive-legacy.js"></script>
	<script src="../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../js/lib/manager.js"></script>
	<script src="../js/lib/common.js"></script>
	<script src="../js/scr.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>&nbsp;</h3>
		<div class="fr">
			<!--
			<p>
				<i class="icon icon-home"></i>
				<span>{{i18n_scr_title}}</span>
			</p>
			-->
			 <button type="button" class="btn" on-click="gotoHC">HC</button>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
            <div class="toolbar">
				<!--
               	<div>{{i18n_scr_title}} - 
					<label class="field" on-click="toShowLineSelect">{{lineName}}</label>                    
					<select id="lineSelect" class="field" style="display:none;" on-change="changeLine" on-blur="toHideLineSelect" >
					{{#each lines:idx}}
					 	<option lang="{{lines[idx].id}}" value="{{lines[idx].lineName}}">{{lines[idx].lineName}}</option>
			        {{/each}}
             		</select>
               </div>
				
               <button type="button" class="btn" on-click="gotoHC">HC</button>
				-->
				<div class="inner_header" style="float:left">
					<div class="inner_left" >
						<label class="field" on-click="toShowLineSelect">{{lineName}}</label>                    
						<select id="lineSelect" class="field" style="display:none;" on-change="changeLine" on-blur="toHideLineSelect" >
						{{#each lines:idx}}
					 		<option lang="{{lines[idx].id}}" value="{{lines[idx].lineName}}">{{lines[idx].lineName}}</option>
			        	{{/each}}
             			</select> {{i18n_screen_title}}
						</div>
						<div class="inner_right" >
							<div>
								<div><img src="{{root}}/images/logo2.png" style="width:200px;"></div>
								<div style="padding-top: 5px;"><span style="font-size:15px;">SEG Production System</span></div>
							</div>
						</div>						
				</div>				
            </div>
            <div class="ctx">
                <div class="curr">
                   <div class="info">
					<table style="width: 100%; text-align:center;">
						<tr>
							<td colspan="1"> <h1>{{i18n_current_prod_name}}</h1></td>
							<td> <h1>{{i18n_current_prod_cycle}}[S]</h1></td>
							<td><h1>{{i18n_current_prod_target_oee}}</h1></td>
							<td> <h1>{{i18n_current_prod_person}}</h1></td>
							<td rowspan="4" style="border-left: 1px solid #1f4e79;"> 
								{{#if color_selected == 0}}
                    				<div id="light_green"><img width="100px" height="100px" src="{{root}}/images/grn_light.png"/></div>
                    				<h2></h2>
                     				<div id="light_yellow"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
                     				<h2></h2>
                     				<div id="light_red"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
								{{elseif color_selected == 1}}
									<div id="light_green"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
									<h2></h2>
                     				<div id="light_yellow"><img width="100px" height="100px" src="{{root}}/images/yellow_light.png"/></div>
                     				<h2></h2>
                     				<div id="light_red"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
								{{elseif color_selected == 2}}
									<div id="light_green"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
									<h2></h2>
                     				<div id="light_yellow"><img width="100px" height="100px" src="{{root}}/images/ept_light.png"/></div>
                     				<h2></h2>
                     				<div id="light_red"><img width="100px" height="100px" src="{{root}}/images/red_light.png"/></div>
								{{/if}}
							</td>
						</tr>
						<tr>
							<td colspan="1"><a  href="javascript:void(0);" style="width:90%">{{displayData.currType}}</a></td>
							<td><a  href="javascript:void(0);">{{displayData.currJP}}</a></td>
							<td><a   href="javascript:void(0);">{{percentage(displayData.oee)}}</a></td>
							<td><a  href="javascript:void(0);">{{displayData.currRS}}</a></td>
						</tr>
						<tr>
							<td><h1>{{i18n_current_prod_plan_output}}</h1></td>
							<td><h1>{{i18n_current_prod_plan_expect_output}}</h1></td>
							<td><h1>{{i18n_current_prod_plan_actual_output}}</h1></td>
							<td><h1>{{i18n_current_prod_diff}}</h1></td>
							
						</tr>
						<tr>
							<td><a  href="javascript:void(0);">{{displayData.planCC}}</a></td>
							<td><a  href="javascript:void(0);">{{displayData.expectedCC}}</a></td>
							<td><a  href="javascript:void(0);">{{displayData.actualCC}}</a></td>
							<td>
							
							{{#if color_selected == 0}}
                    				<a  style="background-color:green" href="javascript:void(0);">{{format(displayData.diff)}}</a>
							{{elseif color_selected == 1}}
									<a  style="background-color:yellow" href="javascript:void(0);">{{format(displayData.diff)}}</a>
							{{elseif color_selected == 2}}
									<a  style="background-color:red" href="javascript:void(0);">{{format(displayData.diff)}}</a>
							{{/if}}
							</td>
							
						</tr>
						<tr>
							<td style="width:100%; border-top: 1px solid #1f4e79;" colspan="6">
							</td>
						</tr>
						<tr >
							<td colspan="1"><h1>{{i18n_next_prod_name}}</h1></td>
							<td> <h1>{{i18n_current_prod_cycle}}[S]</h1></td>
							<td> <h1>{{i18n_current_prod_target_oee}}</h1></td>
							<td> <h1>{{i18n_current_prod_person}}</h1></td>
							<td> <h1>{{i18n_current_prod_plan_output}}</h1></td>
						</tr>
						<tr >
							<td colspan="1"><a href="javascript:void(0);" style="width:90%">{{displayData.nextType}}</a></td>
							<td><a href="javascript:void(0);">{{displayData.nextJP}}</a></td>
							<td><a href="javascript:void(0);">{{displayData.nextOee}}</a></td>
							<td><a href="javascript:void(0);">{{displayData.nextRS}}</a></td>
							<td><a href="javascript:void(0);">{{displayData.nextCC}}</a></td>
						</tr>
					</table>
                   </div>

    </script>
</html>
