<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>系统设置</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../css/settings.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../js/lib/ractive-legacy.js"></script>
	<script src="../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../js/lib/manager.js"></script>
	<script src="../js/settings.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_settings_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<span>{{i18n_settings_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<ul>
				<li class="bg-f4b183">
					<h4>角色管理</h4>
				</li>
				<li class="bg-72b3f6">
					<h4>用户管理</h4>
				</li>
				<li class="bg-e1f8c9">
					<h4 on-click="toFunView">功能管理</h4>
				</li>
				<li class="bg-c2f094">
					<h4>配置B</h4>
				</li>
				<li class="bg-92d050">
					<h4>配置C</h4>
				</li>
				<li class="bg-b8d9fb">
					<h4>配置D</h4>
				</li>
			</ul>
		</div>
	</div>
	</script>
</html>
