/*** 弹出框样式 ***/
.pss_popup {
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.pss_popup .model{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    margin-left: -350px;
    margin-top: -300px;
    background: #fff;    
    text-align: left;
}

.pss_popup .modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.pss_popup .modal-body {
    position: relative;
    padding: 20px;
}

.pss_popup .modal-header .close {
    margin-right: 10px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 0.8;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.pss_popup .modal-header h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: lighter;
}

/** body内部设置**/

.pss_popup .modal-body .table {
    width: 100%;
    margin-bottom: 20px;
}

.pss_popup .modal-body .table a {
	text-decoration: underline;
	color: #0080ff;
}

.pss_popup .modal-body .table .fileBtn {
    position: relative;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;	
}

.pss_popup .modal-body .table>tbody>tr>td {
	padding:8px;
}

.pss_popup .modal-body .table .ls label{
	float: right;
}

.pss_popup .modal-body .table .form-control {
	padding: 6px 12px;
	width: 100%;
	border: 1px solid #ccc;
}


#picker {
    display: inline-block;
    line-height: 1.428571429;
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe0e0e0',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#picker .webuploader-pick {
    padding: 1px 6px;
    display: inline-block;
    background: #00b7ee;
    border-radius: 4px;
}

.btn-ext{
    padding: 6px 12px;
    line-height: 1.428571429;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}





