.top .lft .chart1{
	height:220px;
}

.top .lft .icon {
    width: 7%;
	float: left;
	height:100%;
    text-align: center;
}

.top .lft .chart {
	width: 93%;
	float: left;
	height:100%;
}

.chart1 table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
	float: right;
}

.chart1 table td:first-child {
	color: #000;
	font-size: 10px;
	text-align: left;
}

.chart1 table td {
	line-height: 20px;
	text-align: center;
	border: 1px solid #000;
	color: #000;
    font-size: 10px;
}

.chart1 table td .line1 {
	margin-top:4px;
	margin-left:5px;
    height: 10px;
    width: 30px; 
    float: left;
}

.chart1 table td .line2 {
	margin-top:8px;
	margin-left:5px;
    height: 4px;
    width: 30px;
    float: left;
}