.complainIn .header {
	text-align: left;
	background-color: #003366;
	height: 74px;
}

.complainIn .header .title {
	width: 40%;
	height: 100%;
	float: left;
}

.complainIn .header .title  span {
	font-size: 23px;
	margin-left: 20px;
	font-weight: 700;
	color: white;
}

.complainIn .header .info {
	width: 60%;
	height: 100%;
	float: left;
}

.complainIn .header .info .lb {
	width: 30%;
	height: 100%;
	float: left;
}

.complainIn .header .info .lb span {
	width: 100%;
	height: 50%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: right;
}

.complainIn .header .info .val {
	width: 30%;
	height: 100%;
	float: left;
}

.complainIn .header .info .val span {
	width: 100%;
	height: 50%;
	float: left;
	background-color: white;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	color: #000000;
	border-bottom: #000000 1px solid;
}

.complainIn .header .info .val select {
	font-size: 19px;
	font-weight: normal;
}

.complainIn .header .info .fst {
	border-top: #000000 1px solid;
}

.complainIn p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}

.complainIn table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #000;
}

.complainIn table th {
	color: white;
	background: #003366;
	border: 1px solid #000;
	font-weight: normal;
}

.complainIn table td {
	height: 30px;
	text-align: center;
	border: 1px solid #000;
	cursor: pointer;
	font-size: smaller;	
	background:#CEFFCE;
}

.complainIn table td span {
	margin-left: 20px;
}

.complainIn .footer {
	text-align: left;
	background-color: #c0c0c0;
	vertical-align:middle;
    height: 70px;
}

.complainIn .footer .lf {	
    width: 80%;
    float: left;
}

.complainIn .footer .rt {	
    float: left;
    width: 20%;
    height: 100%;
    padding-right:15px;
    padding-top: 15px;
}		

.complainIn .footer p {
	margin-left: 20px;
	color: #000;
	font-weight: normal;
	font-size: 12px;
}

.complainIn .footer .title {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 3px;
}

.complainIn .toolbar {
	height: 40px;
    text-align: right;
}

.complainIn .btn {
    padding: 6px 12px;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 4px;
}

.complainIn .fst select,.complainIn .fst label{
	width: 100%;	
	text-align: center;
	height: 35px;
	vertical-align: top;
}

.complainIn .fst select{
	border: 1px solid #0080ff;
}

.complainIn .dt select,.complainIn .dt label{
	width: 50%;
	float: left;	
	text-align: center;
}

.complainIn .dt select{
	border: 1px solid #0080ff;	
	height: 36px;
}

.complainIn table td .field{
	width: 100%;
	height:100%;
	display:inline-block;
	vertical-align: middle;
	line-height: 30px;
}

.complainIn table td input[type='text'],.complainIn table td select,.complainIn table td textarea {
	border: 1px solid #0080ff;	
}
