.complainOut .header {
	text-align: left;
	background-color: #003366;
	height: 74px;
}

.complainOut .header .title {
	width: 50%;
	height: 100%;
	float: left;
}

.complainOut .header .title  span {
	font-size: 23px;
	margin-left: 20px;
	font-weight: 700;
	color: white;
}

.complainOut .header .info {
	width: 50%;
	height: 100%;
	float: left;
}

.complainOut .header .info .lb {
	width: 20%;
	height: 100%;
	float: left;
}

.complainOut .header .info .lb span {
	width: 100%;
	height: 50%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align:right;
}

.complainOut .header .info .val {
	width: 40%;
	height: 100%;
	float: left;
}

.complainOut .header .info .val span {
	width: 100%;
	height: 50%;
	float: left;
	background-color: white;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	color: #000000;
	border-bottom: #000000 1px solid;
}

.complainOut .header .fst select,.complainOut .header .fst label{
	width: 100%;	
	text-align: center;
	height: 35px;
	vertical-align: top;
}

.complainOut .header .info .fst {
	border-top: #000000 1px solid;
}

.complainOut .header .fst select{
	border: 1px solid #0080ff;
}

.complainOut .header .dt select{
	border: 1px solid #0080ff;	
}

.complainOut p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}

.complainOut .footer {
	text-align: left;
	background-color: #c0c0c0;
	vertical-align:middle;
    height: 70px;
}

.complainOut .footer .lf {	
    width: 80%;
    float: left;
}

.complainOut .footer .rt {	
    float: left;
    width: 20%;
    height: 100%;
    padding-right:15px;
    padding-top: 15px;
}	

.complainOut .footer p {
	margin-left: 20px;
	color: #000;
	font-weight: normal;
	font-size: 12px;
}

.complainOut .footer .title {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 3px;
}

.complainOut .cxt .top {
	height:350px;
}

.complainOut .cxt .bt {
	height:560px;
	padding: 20px;
}

.complainOut .top .lft,.complainOut .top .rgt {
	float: left;
	height:100%;
	padding: 20px;	
}

.complainOut .top .lft,.complainOut .top .rgt {
	width:50%;
}

.complainOut .dt select,.complainOut .dt label {
    width: 50%;
    float: left;
    text-align: center;
}