.content{
	background: url(../images/new/bg.png) no-repeat;
	background-size: cover;
	color: #fff;
}

.scgn-top{
	position: relative;
}
.scgn-item{
	margin-left: 100px;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	line-height: 2;
}
.scgn-item img{
	margin-bottom: 10px;
	max-height: 120px;
}
.scgn-top .scgn-logo img{
	height: 80px;
}
.scgn-title{
	text-align: center;
	font-size: 40px;
}
.scgn-menu{
	text-align: center;
}
.scgn-menu dl{
	margin-top: 15px;
}
.scgn-menu dt{
	padding: 5px 10px;
	border: solid 2px #fff;
	font-size: 24px;
}
.scgn-menu span{
	display: inline-block;
	padding: 5px 0px;
	width: 120px;
	font-size: 18px;
}
.scgn-menu dd{
	position: relative;
	padding: 10px 0px 0px 40px;
}
.scgn-menu dd:before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 2px;
	height: 100%;
	background: #fff;
}
.scgn-menu dd:last-child:before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 2px;
	height: 62%;
	background: #fff;
}
.scgn-menu dd:after{
	position: absolute;
	content: "";
	top: 30px;
	left: 0px;
	width: 42px;
	height: 2px;
	background: #fff;
}
.scgn-menu dd span{
	cursor: pointer;
}

.bg-green{
	background: #92d050;
}
.bg-blue{
	background: #3366ff;
}
.bg-orange{
	background: #ed7d31;
}
.bg-pink{
	background: #ff66cc
}
.bg-purple{
	background: #cc00ff;
}
.bg-yellow{
	background: #ffcc00;
}
.bg-purple2{
	background: #9933ff;
}
.bg-blue2{
	background: #00b0f0;
}


.scgn-show{
	padding: 50px;
	text-align: center;
}
.scgn-show-item{
	margin-top: 30px;
}
