.top .rgt .chart3{
	height:100%;
	border: 1px solid #b19f9f;
}

.top .rgt .icon {
    width: 20%;
	float: left;
	height:100%;
    text-align: left;
}

.top .rgt .chart {
	width: 80%;
	float: left;
	height:95%;
}