.content-box .toolbar {
	height: 40px;
    text-align: right;
}

.content-box .btn {
    padding: 6px 12px;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 4px;
}


.content-box table {
    width: 100%;
    border-collapse: collapse;
	border: 1px solid #000;		
}

.content-box table .title {
	font-weight: bold;
	vertical-align:top;
}

.content-box table tr:nth-child(1) th,.content-box table tr:nth-child(2) th  {     
	color: white;
    background-color: #003366;
	font-size: 23px;
	line-height: 35px;
	font-weight: 700;
	padding-left:20px;
}

.content-box table tr:nth-child(3) th,.content-box table tr:nth-child(4) th  {     
	color: #000;
    background: #bec2c3;
    border: 1px solid #000;	
    font-size: smaller;	
}

.content-box table td {
    line-height: 45px;
    text-align: center;
    border: 1px solid #000;
}

.content-box table td:nth-child(17) {
	color: #006bb7;
	font-size:xx-large;
	text-align: center;
	border: 1px solid #000;
}


.content-box .footer {
	text-align: left;
	background-color: #c0c0c0;
	vertical-align:middle;
    height: 70px;
}

.content-box .footer .lf {	
    width: 80%;
    float: left;
}

.content-box .footer .rt {	
    float: left;
    width: 20%;
    height: 100%;
    padding-right:15px;
    padding-top: 15px;
}		


.content-box .footer p {
	margin-left: 20px;
	color: #000;
	font-weight: normal;
	font-size: 12px;
}

.content-box .footer .title {
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 3px;
}



