.content-box .ctx {
  background-color:#BDD7EE;
}

.content-box .ctx h1{
	padding-top: 15px;
	font-size: 35px;
	font-weight: 700;
	color:#003366;
}

.content-box .toolbar h4 {
    text-align: center;
    font-size: 35px;
	font-weight: 700;
}

.content-box .curr {
  height:400px;
  border-left:3px solid #1852BD;
  border-top:3px solid #1852BD;
  border-right:3px solid #1852BD;
}

.content-box .curr .light{
  border-left:3px solid #1852BD;
}

.content-box .next {
   height:200px;
   border:3px solid #1852BD;
}

.content-box .info{
  float:left;
  width:90%;
  height:100%;
}

.content-box .light{
   float:left;
   width:10%;
   height:100%;
   text-align: center;
}

.content-box .curr .light div{
   margin-top:40px;
}

.content-box ul {
  height:200px;
}

.content-box ul li {
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.content-box ul li a,.content-box ul li input {
	display: inline-block;
	margin-bottom: 15px;
	width: 45%;
	height: 80px;
	line-height: 80px;
	background: white;
	color:#003366;
	font-size:35px;
	font-weight: bold;
}

.content-box .f50 {   
    width:50%;
}

.content-box .f25 {
    width:25%;
}

.content-box .f50 a,.content-box .f50 input {
	width:72%;	
}




