.content-box .ctx {
  background-color:#adb9ca;
}

.content-box .ctx h1{
	padding-top: 15px;
	font-size: 25px;
	font-weight: 400;
	color:#000000;
	margin-bottom:15px;
}

.content-box .ctx h2{
	padding-top: 8px;
}

.content-box .toolbar h4 {
    text-align: center;
    font-size: 35px;
	font-weight: 700;
}

.content-box .curr {
  height:685px;
  border:3px solid #1f4e79;
}

.content-box .curr .light{
  border-left:3px solid #1f4e79;
}

.content-box .next {
   height:200px;
   border:3px solid #1f4e79;
}

.content-box .info{
  float:left;
  width:100%;
  height:100%;
}

.content-box .light{
   float:left;
   width:10%;
   height:100%;
   text-align: center;
}

.content-box .curr .light div{
   margin-top:40px;
}

.content-box ul {
  height:200px;
}

.content-box ul li {
	float: left;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.content-box td a,.content-box td input {
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 15px;
	width: 60%;
	height: 65px;
	line-height: 65px;
	background: white;
	color:#000000;
	font-size:30px;
	font-weight: 400;
}

.content-box .f50 {   
    width:50%;
}

.content-box .f25 {
    width:25%;
}

.content-box .f20 {
    width:20%;
}

.content-box .f50 a,.content-box .f50 input {
	width:72%;	
}


.content-box .inner_header{
	background-color: #2e75b6;
    color: #fff;
    font-size: 45px;
    width: 100%;
    height: 125px;
}

.content-box .inner_left{
	width: 80%;
    float: left;
    height: 100%;
    text-align: center;
    margin-top: 25px;
}

.content-box .inner_right{
	width: 20%;
    float: right;
    font-size: 10px;
    text-align: right;
    padding: 10px;
}

.content-box select, .content-box option{
	background-color: #1A3781;
    color: #fff;
}

.fr .btn {
    padding: 6px 12px;
    line-height: 1.42857143;
    cursor: pointer;
    border-radius: 4px;
}