<div class="oeesubtype">
	<div class="oeeloss">
		<div class="header">
			<p>
				{{#each oeeLosses : idx}}
					{{#if idx == 0 }}
						<label><input type="radio" name="oeelossname" value="{{idx}}" checked="checked" on-click="switchOtherLoss">{{oeeLosses[idx].lossTypeName}}</label>
					{{else}}
						<label><input type="radio" name="oeelossname" value="{{idx}}"  on-click="switchOtherLoss">{{oeeLosses[idx].lossTypeName}}</label>
					{{/if}}
				{{/each}}
			</p>
		</div>
		<div class="LossDetail">
			<table style="width: 100%; text-align: center">
				<tr>
					{{#each oeeSubLosses : idx}}
						<td><label class="field">{{oeeSubLosses[idx].subLoseTypeName}}</label></td>
					
					{{/each}}
				</tr>
				<tr>
					{{#each oeeSubLosses : idx}}
						<td style="text-align: right"><input type="button" value="new" class="btn"><input type="button" value="save" class="btn"></td>
					
					{{/each}}
				</tr>
				<tr>
					{{#each oeeSubLosses : idx}}
					<td>
						<table style="width: 100%; text-align: center; height: 100%">
							<tr>
								<td>Index</td>
								<td>Name</td>
							</tr>
							{{#each oeeSubLosses[idx].subSubTypes : idx2}}
							<tr>
								
								<td>{{idx2 + 1}}</td>
								<td>
									<label class="field" on-click="toShowLineSelect">{{oeeSubLosses[idx].subSubTypes[idx2].lossTypeName}}</label> 
									<input class="field" style="width:7%;display:none" type="text" on-blur="toHideMeetingTimeText" value="{{oeeSubLosses[idx].subSubTypes[idx2].lossTypeName}}" />
								</td>
							</tr>
							{{/each}}
						</table>
					</td>
					{{/each}}
				</tr>
			</table>
		</div>
		

	</div>
</div>