<div class="oeesubtype">
	<div class="oeeloss">
		<div class="header">
			<p>
				{{#each oeeLosses : idx}}
					{{#if idx == 0 }}
						<label><input type="radio" name="oeelossname" value="{{idx}}" checked="checked" on-click="switchOtherLoss">{{oeeLosses[idx].lossTypeName}}</label>
					{{else}}
						<label><input type="radio" name="oeelossname" value="{{idx}}"  on-click="switchOtherLoss">{{oeeLosses[idx].lossTypeName}}</label>
					{{/if}}
				{{/each}}
			</p>
		</div>
		<div class="LossDetail">
			<table style="width: 100%; text-align: center">
				<tr>
					{{#each oeeSubLosses : idx}}
						<td class="subLossTitle"><label class="field subTitle">{{oeeSubLosses[idx].subLoseTypeName}}</label></td>
					{{/each}}
				</tr>
				<tr>
					{{#each oeeSubLosses : idx}}
						<td style="text-align: right">
							<input type="button" value="{{i18n_new}}" class="btn" on-click="addLoss">
							<input type="button" value="{{i18n_save}}" class="btn" on-click="saveLoss">
							<input type="button" value="TEST" class="btn" on-click="test">
						</td>
					
					{{/each}}
				</tr>
				<tr>
					{{#each oeeSubLosses : idx}}
					<td class="data">
						<table style="width: 100%; text-align: center; height: 100%">
							<tr>
								<td style="width:20%">{{i18n_sysconfig_oee_subtype_index}}</td>
								<td style="width:80%">{{i18n_sysconfig_oee_subtype_name}}</td>
							</tr>
							{{#each subSubTypes : idx2}}
							<tr>
								
								<td>{{idx2 + 1}}</td>
								<td on-click="toShowColumnEditor">
									<label class="field" >{{subSubTypes[idx2].lossTypeName}}</label> 
									<input class="field" style="display:none" type="text" on-blur="toHideColumnEditor" value="{{subSubTypes[idx2].lossTypeName}}" />
								</td>
							</tr>
							{{/each}}
						</table>
					</td>
					{{/each}}
				</tr>
			</table>
		</div>
		

	</div>
</div>