<div class="oeesubtype">
	<div class="oeeloss">
		<table width="100%" align="center">
			<tr>
				<td width="25%"><input type="radio" name="oeelossname" value="Technical Loss" checked="checked">Technical Loss</td>
				<td width="25%"><input type="radio" name="oeelossname" value="Quality Loss">Quality Loss</td>
				<td width="25%"><input type="radio" name="oeelossname" value="Changeover Loss">Changeover Loss</td>
				<td width="25%"><input type="radio" name="oeelossname" value="Organization Loss">Organization Loss</td>
			</tr>
			<tr>
				<td colspan="4" >
					<div class="losscontent">
						<table width="100%">
							<tr>
								<td width="50%"><input type="radio" name="oeesublossname" value="Rework" checked="checked">Rework</td>
								<td width="50%"><input type="radio" name="oeesublossname" value="Scrap" >Scrap</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		
		
	</div>  
</div>