<div class="model">
	<div class="modal-header">
		<button type="button" class="close" on-click="close">×</button>
		<h4>{{i18n_role_func_view_title}}</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="ng-pristine ng-valid">
			<div class="form-group">
				{{#each modules:index}}
			    {{#if funcs}}
				<fieldset class="s1">
					<legend class="s1">{{moduleName}}</legend>
					<ul>
					 	{{#each funcs:idx}}
						<li>
							<input type="checkbox" disabled checked="{{checked}}" />
							<label>{{funcName}}</label>
						</li>
						{{/each}}
					</ul>
				</fieldset>
				{{/if}}
				{{/each}}
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" on-click="close">{{i18n_role_func_view_close}}</button>
	</div>
</div>
