<div class="model">
	<div class="modal-header">
		<button type="button" class="close" on-click="close">×</button>
		<h4>{{i18n_role_func_view_title}}</h4>
	</div>
	<div class="modal-body">
		<form role="form" class="ng-pristine ng-valid">
			<div class="form-group">
				<table class="table">
					<tbody>
						<tr>
							<td><label><strong>User Name:</strong></label></td>
						</tr>
						<tr>
							<td><label><strong>Password: </strong></label></td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" on-click="close">Close</button>
	</div>
</div>