<div class="chart">
  
   <div class="chart"></div>
   <table>
		
		<tr>
			<td width="15%"><label>{{i18n_actual_pcs}}</label></td>
			{{#each actualTotal:index}}
				<td width="">
					<lable>{{format(actualTotal[index])}}</lable>
				</td>
			{{/each}}	
			
		</tr>
		<tr>
			<td><label>{{i18n_target_pcs}}</label></td>
			
			{{#each targetTotal:index}}
				<td>
					<lable>{{format(targetTotal[index])}}</lable>
				</td>
			{{/each}}	
		</tr>
		<tr>
			<td width="15%"><hr class="line1" style="background-color:#3C3C4D "/><label>{{i18n_actual_percent}}</label></td>
			{{#each actualPercent:index}}
				<td width="">
					<lable>{{actualPercent[index]}}</lable>
				</td>
			{{/each}}	
			
		</tr>
		<tr>
			<td><hr class="line2" style="background-color:red "/><label>{{i18n_target_percent}}</label></td>
			
			{{#each targetPercent:index}}
				<td>
					<lable>{{targetPercent[index]}}</lable>
				</td>
			{{/each}}	
		</tr>
	</table>
</div>