<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KPI - Summary Of Productivity</title>
		<link rel="stylesheet" type="text/css" href="../../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/prodSummaryReport.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../../js/lib/jquery.cookie.js"></script>
	<script src="../../../js/lib/ractive-legacy.js"></script>
	<script src="../../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../../js/lib/highcharts.js"></script>
	<script src="../../../js/lib/highcharts-more.js"></script>
	<script src="../../../js/lib/grid-light.js"></script>
	<script src="../../../js/lib/manager.js"></script>
	<script src="../../../js/prodSummaryReport.js"></script>
	<script src="../../../js/prodSummaryChart1.js"></script>
	<script src="../../../js/prodSummaryChart2.js"></script>
	<script src="../../../js/prodSummaryChart3.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_productivity_summary_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_hourlycount_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../../kpi.html">{{i18n_hourlycount_nav2}}</a>
				<font color="#ccc">></font>
				<a href="../../kpi/kpiLines.html?type=productivity">{{i18n_productivity_title}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_productivity_summary_title}}</span>
				
				
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
			<div class="header">
				<div class="title"><span>{{i18n_productivity_summary_title}}</span></div>
				<div class="info">
					 <div class="lb">
					   
					   <span>{{i18n_month}}:</span>
					 </div>
					 <div class="val">
						 
						  <span class="dt">
                             <label on-click="toShowYearSelect">{{prodObj.currYear}} {{i18n_year2}}</label>                    
							 <select style="display:none;" on-blur="toHideYearSelect" on-change="changeYear" value="{{prodObj.currYear}}">
		 					   {{#each years:index}}
								 <option value="{{years[index]}}">{{years[index]}} {{i18n_year2}}</option>
						       {{/each}}
			             	 </select>
                             <label on-click="toShowMonthSelect">{{prodObj.currMonth}} {{i18n_month2}}</label>
                             <select style="display:none" on-blur="toHideMonthSelect" on-change="changeMonth" value="{{prodObj.currMonth}}">
				               {{#each months:index}}
							    <option value="{{months[index]}}">{{months[index]}} {{i18n_month2}}</option>
					           {{/each}}
	             			</select>
                         </span>
					 </div>
					 <div></div>
				</div>
			</div>	
			<div class="cxt">
			   <div class="top">
			      <div class="lft">
			      </div>
			      <div class="rgt">
			      </div>
			   </div>
			   <div class="bt"></div>
			</div>	
			<div class="footer">
				<div class="lf">
					<p  class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
					<!--<p>Bearbeitung, Weitergabe sowie für den Fall von Schutzrechtsanmeldungen.</p>-->
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>
		</div>
	</div>
    </script>
</html>
