<div class="chart">
  
   <div class="chart"></div>
   <table>
		
		<tr>
			<td width="20%"><hr class="line1" style="background-color:#3C3C4D "/><label>{{i18n_actual}}</label></td>
			{{#each actualTotal:index}}
				<td width="20%">
					<lable>{{actualTotal[index]}}</lable>
				</td>
			{{/each}}	
			
		</tr>
		<tr>
			<td><hr class="line2" style="background-color:red "/><label>{{i18n_target}}</label></td>
			
			{{#each targetTotal:index}}
				<td>
					<lable>{{targetTotal[index]}}</lable>
				</td>
			{{/each}}	
		</tr>
	</table>
</div>