<div class="chart">
  
   <div class="chart"></div>
   <table>
  	
  			<tr>
  				<td>
  					{{i18n_line_name}}
  				</td>
  				{{#each dayList}}
  				<td>{{.}}</td>
  				{{/each}}
  			</tr>
  			{{#each dataList}}
  			<tr>
  				<td>{{lineName}}</td>
  				{{#each actualdata:idx}}
  				<td>{{actualdata[idx]}}</td>
  				{{/each}}
  			</tr>
  			{{/each}}
  			<tr>
  				<td>{{i18n_target}}</td>
  				{{#each dataList[0].targetdata:idx}}
  				<td>{{dataList[0].targetdata[idx]}}</td>
  				{{/each}}
  			</tr>
  	
	</table>
</div>