<div class="toolbar">
    <button type="button" class="btn" on-click="test">测试</button>
	<button type="button" class="btn" on-click="saveComplain">{{i18n_complainIn_save}}</button>
</div>
<div class="header">
	<div class="title"></div>
	<div class="info">
		 <div class="lb">
		   <span>{{i18n_complainIn_line}}:</span>
		   <span>{{i18n_complainIn_month}}:</span>
		 </div>
		 <div class="val">
			 <span class="fst">
				<label class="field" on-click="toShowLineSelect">{{base.line_name}}</label>                    
				<select class="field" style="display:none;" on-change="changeLine" on-blur="toHideLineSelect" value="{{base.line_id}}">
					{{#each lines}}
				 <option value="{{id}}">{{lineName}}</option>
		        {{/each}}
            	</select>
             </span>
			 <span class="dt">
                 <label on-click="toShowYearSelect">{{base.year}} {{i18n_complainIn_year}}</label>                    
				 <select style="display:none;" on-blur="toHideYearSelect" on-change="changeYear" value="{{base.year}}">
					 {{#each years:index}}
					 <option value="{{years[index]}}">{{years[index]}} {{i18n_complainIn_year}}</option>
			       	 {{/each}}
             	 </select>
                 <label on-click="toShowMonthSelect">{{base.month}} {{i18n_complainIn_yue}}</label>
                 <select style="display:none" on-blur="toHideMonthSelect" on-change="changeMonth" value="{{base.month}}">
	                 {{#each months:index}}
				     <option value="{{months[index]}}">{{months[index]}} {{i18n_complainIn_yue}}</option>
		             {{/each}}
           		 </select>
               </span>
		 </div>
		 <div></div>
	</div>
</div>
<table>
	<tr>
		<th width="2%" rowspan="6">{{i18n_complainIn_actuals}}</th>
		<th></th>
	    {{#each base.days}}
		<th width="3%">{{d}}</th>
	    {{/each}}
	</tr>
	{{#each base.actual:index}}
    <tr>
	   <th style="text-align:left;" width="6%">{{type_name}}</th>
	   {{#each days:flag}}
       {{#if type_id == '-2'}}
	   <td style="background:#bec2c3">
		  <label class="field">{{v}}</label>	   
	   </td>
	   {{elseif type_id == '-1'}}
	   <td>
		  <label class="field">{{v}}</label>	   
	   </td>
	   {{else}}
	    <td lang="actual">
		  <label class="field" on-click="toShowColumnEditor">{{v}}</label>
    	  <input class="field" type="text" maxlength="5" on-blur="toHideColumnEditor" onkeyup="manager.keyupInt(event)" style="display:none" value="{{v}}" />		   
	   </td>
	   {{/if}}
	   {{/each}}
    </tr>
    {{/each}}    
    <tr>
   		<th colspan="2" rowspan="2">{{i18n_complainIn_target}}</th>
	    {{#each base.days}}
		<th width="3%">{{d}}</th>
	    {{/each}}
	</tr>
	<tr>
	   {{#each base.target:flag}}
	   <td lang="target">	
		  <label class="field" on-click="toShowColumnEditor">{{v}}</label>
    	  <input class="field" type="text" maxlength="5" on-blur="toHideColumnEditor" onkeyup="manager.keyupInt(event)" style="display:none" value="{{v}}" />		   
	   </td>
	   {{/each}}
    </tr>
</table>
<div class="footer">
	<div class="lf">
		<p  class="title">Starter Motors and Generators</p>
		<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
	</div>
	<div class="rt">
	   <img src="{{root}}/images/logo2.png" class="fr">
	</div>
</div>