<div class="chart3">
   <div class="icon"><img style="padding-top:66px;" src="{{root}}/images/updown4.png"/></div>
   <div class="chart"></div>
   <table>
		<tr>
			<td>
				<hr class="line1" style="background-color:#17375e"/>
				<label>实际</label>
			</td>
			{{#each actuals:index}}
			<td width="3%">
				<lable>{{actuals[index]}}</lable>
			</td>
			{{/each}}
		</tr>
		<tr>
			<td>
				<hr class="line1" style="background-color:#9abb59 "/>
				<label>来自总装</label>
			</td>			
			{{#each type1:index}}
			<td>
				<lable>{{type1[index]}}</lable>
			</td>
			{{/each}}	
		</tr>
		<tr>
			<td>
				<hr class="line1" style="background-color:#c00000"/>
				<label>来自GP12</label>
			</td>			
			{{#each type2:index}}
			<td>
				<lable>{{type2[index]}}</lable>
			</td>
			{{/each}}	
		</tr>
		<tr>
			<td>
				<hr class="line1" style="background-color:#1e497d"/>
				<label>来自客户代表</label>
			</td>			
			{{#each type3:index}}
			<td>
				<lable>{{type3[index]}}</lable>
			</td>
			{{/each}}	
		</tr>
		<tr>
			<td>
				<hr class="line2" style="background-color:red"/>
				<label>Target(PPM)</label>
			</td>			
			{{#each targets:index}}
			<td>
				<lable>{{targets[index]}}</lable>
			</td>
			{{/each}}	
		</tr>
		<tr>
			<td>
				<hr class="line1" style="background-color:blue"/>
				<label>累计(PPM)</label>
			</td>			
			{{#each accumus:index}}
			<td>
				<lable>{{accumus[index]}}</lable>
			</td>
			{{/each}}	
		</tr>
	</table>
</div>