<ul>
	<li><a href="javascript:void(0);" class="icon icon-login"  on-click="toLogin"><img src="{{root}}/images/icon-tx.png"></a></li><!-- 登陆 -->	
	<li><a href="javascript:void(0);" class="icon icon-ma" on-click="toMeetAttendence"></a></li><!-- 签到 -->
	<li><a href="javascript:void(0);" class="icon icon-cd" on-click="toDashboard"></a></li><!-- 首页 -->
	<li><a href="javascript:void(0);" class="icon icon-scr" on-click="toScreen"></a></li><!-- 显示屏 -->
	<li><a href="javascript:void(0);" class="icon icon-gj" on-click="toSettings"></a></li><!-- 系统设置 -->
	<li><a href="mailto:aaa@b.com?subject=SYSTEM SUPPORT" class="icon icon-xf" ></a></li><!-- 维护信息 -->
</ul>
<!-- 登录DIV -->
<div class="login_popup"></div>