<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Settings-Func</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>	
		<link rel="stylesheet" type="text/css" href="../../css/func.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>		
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/jquery.blockui.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/lib/common.js"></script>
	<script src="../../js/func.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_func_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="{{root}}/views/settings.html">{{i18n_func_nav1}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_func_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
            <div class="toolbar">
                <!--<button type="button" class="btn" on-click="test">测试</button>-->
				<button type="button" class="btn" on-click="addFunc">{{i18n_func_add}}</button>
				<button type="button" class="btn" on-click="saveFunc">{{i18n_func_save}}</button>
				<button type="button" class="btn" on-click="deleteFunc">{{i18n_func_delete}}</button><!---->
            </div>
			<div class="header">
				<table>
			    <tr>
					<th class="title" colspan="4">{{i18n_func_list}}</th>
				</tr>
				<tr>
					<th colspan="4">&nbsp;</th>
				</tr>
			    <tr>
				    <th width="2%"><input type="checkbox" /><font>&nbsp;</font></th>
			        <th width="30%">{{i18n_func_module}}</th>
			        <th width="28%">{{i18n_func_key}}</th>
			        <th width="40%">{{i18n_func_name}}</th>
			    </tr>
 				{{#each funcs:index}}
			    <tr class="functr" lang="{{index}}">
				    <td>
				    	<input type="checkbox" checked="{{checked}}" />
				    	{{#if id == '0' || updated == '1'}}
				        <font color="red">*</font>
				        {{else}}
				        <font>&nbsp;</font>
				        {{/if}}
				    </td>
			        <td>
                        <label class="field" on-click="toShowColumnEditor">{{moduleName}}</label>
                       	<select colName="module" class="field" style="display:none;" on-blur="toHideColumnEditor" value="{{moduleId}}">
							<option value=""></option>
	 						{{#each modules}}
							 <option value="{{id}}">[{{moduleKey}}]:{{moduleName}}</option>
					        {{/each}}
		             	</select>
                    </td>
			        <td>
                       <label class="field" on-click="toShowColumnEditor">{{funcKey}}</label>
                       <input class="field" type="text" style="display:none;" maxlength="20" on-blur="toHideColumnEditor" value="{{funcKey}}"/>
                    </td>
			        <td>
                       <label class="field" on-click="toShowColumnEditor">{{funcName}}</label>
                       <input class="field" type="text" style="display:none;" maxlength="32" on-blur="toHideColumnEditor" value="{{funcName}}"/>
                    </td>
			    </tr>
				{{/each}}
			</table>
			</div>
			<div class="footer">
				<div class="lf">
					<p class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>			
		</div>
	</div>
    </script>
</html>
