<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Settings-Role</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>	
		<link rel="stylesheet" type="text/css" href="../../css/role.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/roleFuncView.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/roleFuncEdit.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->				    
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/jquery.blockui.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/role.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_role_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="{{root}}/views/settings.html">{{i18n_role_nav1}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_role_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
		<div class="content-box">
            <div class="toolbar">
                <button type="button" class="btn" on-click="test">测试</button><!---->
				<button type="button" class="btn" on-click="addRole">{{i18n_role_add}}</button>
				<button type="button" class="btn" on-click="saveRole">{{i18n_role_save}}</button>
				<button type="button" class="btn" on-click="deleteRole">{{i18n_role_delete}}</button>
            </div>
			<div class="header">
				<table>
			    <tr>
					<th class="title" colspan="4">{{i18n_role_list}}</th>
				</tr>
				<tr>
					<th colspan="4">&nbsp;</th>
				</tr>
			    <tr>
				    <th width="2%"><input type="checkbox" /><font>&nbsp;&nbsp;</font></th>
			        <th width="39%">{{i18n_role_name}}</th>
			        <th width="39%">{{i18n_role_desc}}</th>
			        <th width="20%">{{i18n_role_func}}</th>
			    </tr>
 				{{#each roles:index}}
			    <tr class="roletr" lang="{{index}}">
				    <td>				        
				    	<input type="checkbox" checked="{{checked}}" />
				    	{{#if id == '0' || updated == '1'}}
				        <font color="red">*</font>
				        {{else}}
				        <font>&nbsp;</font>
				        {{/if}}
				    </td>
			        <td>
                        <label class="field"  on-click="toShowColumnEditor">{{roleName}}</label>
                        <input class="field" style="display:none;" maxlength="20" on-blur="toHideColumnEditor" type="text" value="{{roleName}}"/>
                    </td>
			        <td>
                       <label class="field"  on-click="toShowColumnEditor">{{roleDesc}}</label>
                       <input class="field" type="text" style="display:none;" maxlength="20" on-blur="toHideColumnEditor" value="{{roleDesc}}"/>
                    </td>
			        <td>
                       {{#if id != '0'}}
							<label class="field" ><a class="link" href="javascript:void(0);" on-click="viewRoleFunc">{{i18n_role_func_view}}</a></label>
							<label class="field" ><a class="link" href="javascript:void(0);" on-click="editRoleFunc">{{i18n_role_func_edit}}</a></label>
					   {{else}}
                            <label class="field" ></label>        
                       {{/if}}
                    </td>
			    </tr>
				{{/each}}
			</table>
			</div>
			<div class="footer">
				<div class="lf">
					<p class="title">Starter Motors and Generators</p>
					<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
				</div>
				<div class="rt">
				   <img src="{{root}}/images/logo2.png" class="fr">
				</div>
			</div>			
		</div>
	</div>
	<!-- 查看DIV -->
	<div class="func_view_popup"></div>
	<!-- 编辑DIV -->
	<div class="func_edit_popup"></div>
    </script>
</html>
