<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/sysconfig.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/oeeLossSubType.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/screenSetting.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/lineSetting.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/staticpageSetting.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/jquery.form.min.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/sysconfig.js"></script>
	<script src="../../js/oeeLossSubType.js"></script>
	<script src="../../js/screenSetting.js"></script>
	<script src="../../js/lineSetting.js"></script>
	<script src="../../js/staticpageSetting.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_sysconfig_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_sysconfig_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../settings.html">{{i18n_sysconfig_nav2}}</a>
				<font color="#ccc">></font>
				<span>{{i18n_sysconfig_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
	    <ul id="tabs">
	  		<li id="current"><a href="#" title="OeeSubType" on-click="switchToSysConfig">{{i18n_sysconfig_oee_subtype_title}}</a><img></li>	 
 
			<li id=""><a href="#" title="screen" on-click="switchToDisplay">{{i18n_sysconfig_scr_title}}</a><img></li>	  

			<li id=""><a href="#" title="productLine" on-click="switchToLine">{{i18n_sysconfig_line_title}}</a><img></li>

			<li id=""><a href="#" title="staticPage" on-click="switchToStaticPage">{{i18n_sysconfig_staticpage_title}}</a><img></li>	  	  

		</ul>
		<div class="maincontent" style="display: block;">
	  		
		</div>
	</div>
	
	</script>
</html>