<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/boards.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/uploader.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/jquery.form.min.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/uploader.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{i18n_uploader_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_uploader_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../lines.html">{{i18n_uploader_nav2}}</a>
				
			</p>
		</div>
	</div>
	<div class="content">
	    <span id="msg_info"></span>
		<div class="content-box">
			<table id="tbl_upload">
				<tr>
					<td>{{i18n_uploader_index}}</td>
					<td>{{i18n_uploader_name}}</td>
					
					<td>{{i18n_uploader_action}}</td>
					<td>{{i18n_uploader_result}}</td>
					<td>{{i18n_uploader_time}}</td>
				</tr>
				<tr>
					<td>1</td>
					<td>{{i18n_uploader_name_layout}}</td>
					<td >
						
						<form id="form_layout_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_layout" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload">选择文件<input type="file" name="layout" value="" id="layout_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUploadLayout" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="uploadLayoutPage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_layout">
						</span>
					</td>
					<td>
						<span id="time_layout">
						</span>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td>{{i18n_uploader_name_balance}}</td>
					<td >
						
						<form id="form_balance_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_balance" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload" >选择文件<input type="file" name="balance" value="" id="balance_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUploadBalance" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="uploadBalancePage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_balance">
						</span>
					</td>
					<td>
						<span id="time_balance">
						</span>
					</td>
				</tr>

				

				<tr>
					<td>3</td>
					<td>{{i18n_uploader_name_oeepdca}}</td>
					<td >
						
						<form id="form_oeepdca_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_oeepdca" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload" >选择文件<input type="file" name="oeepdca" value="" id="oeepdca_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUploadoeepdca" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="uploadOeePdcaPage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_oeepdca">
						</span>
					</td>
					<td>
						<span id="time_oeepdca">
						</span>
					</td>
				</tr>

				<tr>
					<td>4</td>
					<td>{{i18n_uploader_name_5m1e}}</td>
					<td >
						
						<form id="form_5m1e_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_5m1e" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload" >选择文件<input type="file" name="5m1e" value="" id="5m1e_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUpload5m1e" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="upload5m1ePage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_5m1e">
						</span>
					</td>
					<td>
						<span id="time_5m1e">
						</span>
					</td>
				</tr>

				<tr>
					<td>4</td>
					<td>{{i18n_uploader_name_5s}}</td>
					<td >
						
						<form id="form_5s_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_5s" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload" >选择文件<input type="file" name="5s" value="" id="5s_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUpload5s" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="upload5sPage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_5s">
						</span>
					</td>
					<td>
						<span id="time_5s">
						</span>
					</td>
				</tr>

				<tr>
					<td>5</td>
					<td>{{i18n_uploader_name_trainmatrix}}</td>
					<td >
						
						<form id="form_trainmatrix_upload" enctype="multipart/form-data"  method="POST">
							<input type="text" id="avatval_train_matrix" placeholder="请选择文件···" readonly="readonly" style="vertical-align: middle; width:60%;height:30px;"/>
							<a href="javascript:;" class="divupload" >选择文件<input type="file" name="trainmatrix" value="" id="train_matrix_upload" class="btnBrowser"/></a>
							<input type="button" name="btnUploadTrainMatrix" value="{{i18n_uploader_name_upload}}" class="divupload" on-click="uploadTrainMatrixPage"/>
						</form>
						
					</td>
					
					<td>
						<span id="result_trainmatrix">
						</span>
					</td>
					<td>
						<span id="time_trainmatrix">
						</span>
					</td>
				</tr>

			</table>
			<ul>
				<li>

					
				</li>
			</ul>
		</div>
	</div>
	</script>
</html>