<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KPI - Complain</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/complainRep.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/complainChart1.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/complainChart2.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/complainChart3.css"/>
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../../js/lib/jquery.blockui.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/lib/highcharts.js"></script>
	<script src="../../js/lib/highcharts-more.js"></script>
	<script src="../../js/lib/grid-light.js"></script>
	<script src="../../js/lib/permission.js"></script>
	<script src="../../js/lib/common.js"></script>
	<script src="../../js/complainRep.js"></script>
	<script src="../../js/complainChart1.js"></script>
	<script src="../../js/complainChart2.js"></script>
	<script src="../../js/complainChart3.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		<h3>{{lineName}} - {{i18n_complainRep_title}}</h3>
		<div class="fr">
			<p>
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_complainRep_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../kpi.html">{{i18n_complainRep_nav2}}</a>
				<font color="#ccc">></font>
				<span>{{lineName}} - {{i18n_complainRep_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">	    
		<div class="content-box">
			<div class="complainRep">
				<div class="header">
					<div class="title"><span></span></div>
					<div class="info">
						 <div class="lb">
						   <span>{{i18n_complainRep_line}}:</span>
						   <span>{{i18n_complainRep_month}}:</span>
						 </div>
						 <div class="val">
							 <span class="fst">
			                 	<label on-click="toShowLineSelect">{{base.line_name}}</label>                    
								<select style="display:none;" on-blur="toHideLineSelect" on-change="changeLine"  value="{{base.line_id}}">
									{{#each lines}}
								 <option value="{{id}}">{{lineName}}</option>
						        {{/each}}
				            	</select>
			                 </span>
							 <span class="dt">
				                 <label on-click="toShowYearSelect">{{base.year}} {{i18n_complainRep_year}}</label>                    
								 <select style="display:none;" on-blur="toHideYearSelect" on-change="changeYear" value="{{base.year}}">
								 {{#each years:index}}
								 <option value="{{years[index]}}">{{years[index]}} {{i18n_complainRep_year}}</option>
							     {{/each}}
				             	 </select>
				                 <label on-click="toShowMonthSelect">{{base.month}} {{i18n_complainRep_yue}}</label>
				                 <select style="display:none" on-blur="toHideMonthSelect" on-change="changeMonth" value="{{base.month}}">
					             {{#each months:index}}
								 <option value="{{months[index]}}">{{months[index]}} {{i18n_complainRep_yue}}</option>
						         {{/each}}
				           		</select>
				              </span>
						 </div>
						 <div></div>
					</div>
				</div>	
				<div class="cxt">
				   <div class="top">
				      <div class="lft">
				      </div>
				      <div class="rgt">
				      </div>
				   </div>
				   <div class="bt"></div>
				</div>	
				<div class="footer">
					<div class="lf">
						<p  class="title">Starter Motors and Generators</p>
						<p>SG/BPS-CN | 2017. 11. 17 | V2.0</p>
					</div>
					<div class="rt">
					   <img src="{{root}}/images/logo2.png" class="fr">
					</div>
				</div>
			</div>
		</div>
	</div>
	</script>
</html>
