<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KPI - Lines</title>
		<link rel="stylesheet" type="text/css" href="../../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/login.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/kpiLines.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/lib/alerts/jquery.alerts.css"/>	
	</head>
	<body>
		<div class="box">
		    <!-- left menu -->
			<div class="left fl"></div>
			<div class="right">
				<!-- right header -->
				<header></header>
				<div class="container">
				    <!-- main template -->
				</div>
				<!-- right footer -->
				<footer></footer>
			</div>
		</div>
	</body>
	<script src="../../js/lib/jquery-1.10.1.min.js"></script>
	<script src="../../js/lib/jquery.cookie.js"></script>
	<script src="../../js/lib/ractive-legacy.js"></script>
	<script src="../../js/lib/jquery.i18n.properties-1.0.9.js"></script>
	<script src="../../js/lib/alerts/jquery.alerts.js"></script>
	<script src="../../js/lib/manager.js"></script>
	<script src="../../js/kpiLines.js"></script>
	<script src="../../js/safetyReport.js"></script>
	<script id="main-template" type="text/active">
	<div class="position _clear title">
		
		<div class="fr">
			<p>			
				<i class="icon icon-home"></i>
				<a href="../index.html">{{i18n_kpiLines_nav1}}</a>
				<font color="#ccc">></font>
				<a href="../kpi.html">{{i18n_kpiLines_nav2}}</a>
				<font color="#ccc">></font>
				<span>{{kpiLines_title}}</span>
			</p>
		</div>
	</div>
	<div class="content">
	   <div class="header">
			<p>MOE2 - {{i18n_kpiLines_nav2}} - {{kpiLines_title}}</p>
		</div>
		<div class="content-box">
			<ul>
				<li><span>{{i18n_kpi_summary}}<a href="javascript:void(0);" on-click="gotoKipSummary"><img src="../../images/kpi.png"/></a></span></li>
				{{#each lineSTGdata}}
					<li><span>{{uppercase(lineName)}}<a href="javascript:void(0);" on-click="gotoKip"><img src="../../images/kpi.png"/></a></span></li>
				{{/each}}
			</ul>
			<ul >
				{{#each lineROGdata}}
					<li><span>{{uppercase(lineName)}}<a href="javascript:void(0);" on-click="gotoKip"><img src="../../images/kpi.png"/></a></span></li>
				{{/each}}
				
			</ul>
			<ul >
				{{#each lineRECdata}}
					<li><span>{{uppercase(lineName)}}<a href="javascript:void(0);" on-click="gotoKip"><img src="../../images/kpi.png"/></a></span></li>
				{{/each}}
				
			</ul>
			<ul >
				{{#each lineFAGdata}}
					<li><span>{{uppercase(lineName)}}<a href="javascript:void(0);" on-click="gotoKip"><img src="../../images/kpi.png"/></a></span></li>
				{{/each}}
				
			</ul>
		</div>
	</div>	
	</script>
</html>
